---
import Layout from '../../layouts/Layout.astro';
import '../../styles/school.css';
---
<Layout title="各校紹介 - H-CUBE ACADEMY" description="H-CUBE ACADEMYの各校をご紹介します。" bodyClass="page-id-2707 elementor-page-2707">

<div data-elementor-type="wp-page" data-elementor-id="2707" class="elementor elementor-2707">
									<section class="has_eae_slider elementor-section elementor-top-section elementor-element elementor-element-51e4848 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="51e4848" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-ec2b869" data-id="ec2b869" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-823845b elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="823845b" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-f6bcab4" data-id="f6bcab4" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-7d3d03c elementor-align-center elementor-widget elementor-widget-button" data-id="7d3d03c" data-element_type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a href="#hamasuka" class="elementor-button-link elementor-button elementor-size-md" role="button">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-text">茅ヶ崎浜須賀校</span>
		</span>
					</a>
		</div>
				</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-9d32f9d" data-id="9d32f9d" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-c02b459 elementor-align-center elementor-widget elementor-widget-button" data-id="c02b459" data-element_type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a href="#chigasaki" class="elementor-button-link elementor-button elementor-size-md" role="button">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-text">茅ヶ崎ブランチ校</span>
		</span>
					</a>
		</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-top-section elementor-element elementor-element-28c254f elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="28c254f" data-element_type="section" id="hamasuka" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6e4327d" data-id="6e4327d" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-1f6092b elementor-widget elementor-widget-heading" data-id="1f6092b" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">茅ヶ崎浜須賀校</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-1657ecc elementor-widget elementor-widget-heading" data-id="1657ecc" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">施設紹介</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-097bc8c elementor-widget elementor-widget-image" data-id="097bc8c" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img width="768" height="960" src="https://h-cube.academy/wp/wp-content/uploads/2023/06/浜須賀校外観横-768x960.jpg" class="attachment-medium_large size-medium_large" alt="" loading="lazy" srcset="https://h-cube.academy/wp/wp-content/uploads/2023/06/浜須賀校外観横-768x960.jpg 768w, https://h-cube.academy/wp/wp-content/uploads/2023/06/浜須賀校外観横-240x300.jpg 240w, https://h-cube.academy/wp/wp-content/uploads/2023/06/浜須賀校外観横-819x1024.jpg 819w, https://h-cube.academy/wp/wp-content/uploads/2023/06/浜須賀校外観横-1229x1536.jpg 1229w, https://h-cube.academy/wp/wp-content/uploads/2023/06/浜須賀校外観横.jpg 1440w" sizes="(max-width: 768px) 100vw, 768px">															</div>
				</div>
				<div class="elementor-element elementor-element-1164cdc elementor-widget elementor-widget-image" data-id="1164cdc" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img width="150" height="150" src="/images/school/img_3.jpg" class="attachment-thumbnail size-thumbnail" alt="" loading="lazy">															</div>
				</div>
				<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-cc22e7e elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="cc22e7e" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-2174558" data-id="2174558" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-5ddd296 elementor-widget elementor-widget-text-editor" data-id="5ddd296" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
			<style>/*! elementor - v3.6.2 - 04-04-2022 */
.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap{background-color:#818a91;color:#fff}.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap{color:#818a91;border:3px solid;background-color:transparent}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap{margin-top:8px}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter{width:1em;height:1em}.elementor-widget-text-editor .elementor-drop-cap{float:left;text-align:center;line-height:1;font-size:50px}.elementor-widget-text-editor .elementor-drop-cap-letter{display:inline-block}</style>				<p>茅ヶ崎市東部に位置する茅ヶ崎浜須賀校は、茅ヶ崎市南側を横断している鉄砲通り沿いにあります。近隣には交番や自然豊かな公園に囲まれありお子様にとって安心して通学していただける立地となっております。</p><p>駐輪場を完備。2階3階の教室は窓ガラスで覆われており開放的でたくさんの陽ざしが入り込み茅ヶ崎の気持ちの良いエネルギーをたくさん取り込める教室となっております。ご家庭と教室とで連携をとりお子様にとってより良い教室環境作りを目指してまいります。</p><h4>&nbsp;</h4><p>【お問合せ先】<br>英語学童保育H-CUBE　茅ヶ崎浜須賀校<br>〒253-0035<br>茅ヶ崎市浜須賀2-16コンフォ―ルHINOMOTO#2<br>0467-53-8295</p><p>英語以外でも林グループにございますコンテンツ、水泳、体操、ダンスをオプションとして受講することができ、お子さまの可能性を大きく広げることができます。</p><p>茅ヶ崎浜須賀校は多彩な経験から、生きる英語を身につけ、生きる力を育む教室です。保護者の皆様とお子さまの成長を見守らせて頂けることを、スタッフ一同、楽しみにお待ちしております。</p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<div class="elementor-element elementor-element-6204fc3 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-heading" data-id="6204fc3" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">マネージャー/講師紹介</h2>		</div>
				</div>
				<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-33d4ec1 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="33d4ec1" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-d5734d0" data-id="d5734d0" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-52d6742 elementor-widget elementor-widget-image" data-id="52d6742" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img width="300" height="288" src="/images/school/img_4.jpg" class="attachment-medium size-medium" alt="" loading="lazy" srcset="assets/images/img_4.jpg 300w, https://h-cube.academy/wp/wp-content/uploads/2023/02/2B2A0011-scaled-e1676349133131-1024x982.jpg 1024w, https://h-cube.academy/wp/wp-content/uploads/2023/02/2B2A0011-scaled-e1676349133131-768x737.jpg 768w, https://h-cube.academy/wp/wp-content/uploads/2023/02/2B2A0011-scaled-e1676349133131.jpg 1401w" sizes="(max-width: 300px) 100vw, 300px">															</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-18a2d50" data-id="18a2d50" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-57b0060 elementor-widget elementor-widget-heading" data-id="57b0060" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<span class="elementor-heading-title elementor-size-default">マネージャー

</span>		</div>
				</div>
				<div class="elementor-element elementor-element-b820ffe elementor-widget elementor-widget-heading" data-id="b820ffe" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h4 class="elementor-heading-title elementor-size-default">ジーベイ直美</h4>		</div>
				</div>
				<div class="elementor-element elementor-element-c34bb34 elementor-widget elementor-widget-text-editor" data-id="c34bb34" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
													</div>
				</div>
				<div class="elementor-element elementor-element-96fc1d2 elementor-widget elementor-widget-text-editor" data-id="96fc1d2" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>H-CUBE浜須賀校、スクールマネージャーのジーベイです。</p><p>今までブランチ校にてスクールマネージャーをさせて頂き、現在浜須賀校と鵠沼海岸校にてスクールマネージャーをさせて頂いております。<br>語学を習得するには、私たちが日本語を最初に学んだ時のように、毎日の生活（環境）の「聞く」や「話す」の体験から自然に楽しく吸収することが、一番の近道だと自身のアメリカ生活から実感しています。楽しい数時間を英語環境で過ごすことによって、いつの間にか英語が聞き取れる、理解できる、語彙力が身につく、さらに文法の理解にも繋がっているそんなスクール環境をとても大切にしております。</p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-ef77606 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="ef77606" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-e4babe8" data-id="e4babe8" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-4074f69 elementor-widget elementor-widget-image" data-id="4074f69" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img width="396" height="396" src="/images/school/img_5.jpg" class="attachment-medium_large size-medium_large" alt="Charley Chevreau" loading="lazy" srcset="assets/images/img_5.jpg 396w, https://h-cube.academy/wp/wp-content/uploads/2022/02/chigasaki_prof_02-300x300.jpg 300w, https://h-cube.academy/wp/wp-content/uploads/2022/02/chigasaki_prof_02-150x150.jpg 150w" sizes="(max-width: 396px) 100vw, 396px">															</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-5157cbe" data-id="5157cbe" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-76afcec elementor-widget elementor-widget-heading" data-id="76afcec" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<span class="elementor-heading-title elementor-size-default">Trainer</span>		</div>
				</div>
				<div class="elementor-element elementor-element-0ecdcf0 elementor-widget elementor-widget-heading" data-id="0ecdcf0" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h4 class="elementor-heading-title elementor-size-default">Charley Chevreau</h4>		</div>
				</div>
				<div class="elementor-element elementor-element-2e273c3 elementor-widget elementor-widget-text-editor" data-id="2e273c3" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
													</div>
				</div>
				<div class="elementor-element elementor-element-38437f3 elementor-widget elementor-widget-text-editor" data-id="38437f3" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>Hi, I’m teacher Charley! I’m from France. I like surfing and going to the gym. I like cooking nice food but I hate cheese! Let’s have fun playing games together.</p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-ec3ba66 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="ec3ba66" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-0d9c754" data-id="0d9c754" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-d96b1c7 elementor-widget elementor-widget-image" data-id="d96b1c7" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img width="768" height="768" src="/images/school/img_6.jpg" class="attachment-medium_large size-medium_large" alt="" loading="lazy" srcset="assets/images/img_6.jpg 768w, https://h-cube.academy/wp/wp-content/uploads/2023/02/yamamoto--300x300.jpg 300w, https://h-cube.academy/wp/wp-content/uploads/2023/02/yamamoto--1024x1024.jpg 1024w, https://h-cube.academy/wp/wp-content/uploads/2023/02/yamamoto--150x150.jpg 150w, https://h-cube.academy/wp/wp-content/uploads/2023/02/yamamoto--1536x1536.jpg 1536w, https://h-cube.academy/wp/wp-content/uploads/2023/02/yamamoto--2048x2048.jpg 2048w" sizes="(max-width: 768px) 100vw, 768px">															</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-55bdab0" data-id="55bdab0" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-e73a50d elementor-widget elementor-widget-heading" data-id="e73a50d" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h4 class="elementor-heading-title elementor-size-default">Lani Yamamoto</h4>		</div>
				</div>
				<div class="elementor-element elementor-element-d7cbcac elementor-widget elementor-widget-text-editor" data-id="d7cbcac" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>Hello!&nbsp; I’m teacher Lani. I’m a mother of three, who likes Disney, dogs, and going to the beach! Learning English helps you to make more friends. Let’s have fun in English!</p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-e4d0603 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="e4d0603" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-d0d597a" data-id="d0d597a" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-5667f7c elementor-widget elementor-widget-image" data-id="5667f7c" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img src="/images/school/img_7.jpg" title="Aya pic" alt="Aya pic">															</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-4dca98f" data-id="4dca98f" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-ead2d9e elementor-widget elementor-widget-heading" data-id="ead2d9e" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h4 class="elementor-heading-title elementor-size-default">Aya Mochizuki</h4>		</div>
				</div>
				<div class="elementor-element elementor-element-8f94625 elementor-widget elementor-widget-text-editor" data-id="8f94625" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
													</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<div class="elementor-element elementor-element-6530e10 elementor-widget elementor-widget-heading" data-id="6530e10" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">料金例</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-3aa8ee5 elementor-widget elementor-widget-heading" data-id="3aa8ee5" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">例）週1回送迎無し</h2>		</div>
				</div>
				<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-1c264c8 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="1c264c8" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-ffb65fb" data-id="ffb65fb" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-39199bb elementor-widget elementor-widget-heading" data-id="39199bb" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<p class="elementor-heading-title elementor-size-default">月謝</p>		</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-a2d154c" data-id="a2d154c" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-dc4dce8 elementor-widget elementor-widget-heading" data-id="dc4dce8" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<p class="elementor-heading-title elementor-size-default">16,000円<span> (税込17,600円)</span></p>		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-0be8ece elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="0be8ece" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-816f3ca" data-id="816f3ca" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-29b7c74 elementor-widget elementor-widget-heading" data-id="29b7c74" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<p class="elementor-heading-title elementor-size-default">維持管理費</p>		</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-1ec4536" data-id="1ec4536" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-0fea8e7 elementor-widget elementor-widget-heading" data-id="0fea8e7" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<p class="elementor-heading-title elementor-size-default">2,545円<span> (税込2,800円)</span></p>		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-83f69b2 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="83f69b2" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-6d27d1c" data-id="6d27d1c" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-b0efaeb elementor-widget elementor-widget-heading" data-id="b0efaeb" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<p class="elementor-heading-title elementor-size-default">おやつ代</p>		</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-e217187" data-id="e217187" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-875487a elementor-widget elementor-widget-heading" data-id="875487a" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<p class="elementor-heading-title elementor-size-default">600円<span> (税込660円)</span></p>		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<div class="elementor-element elementor-element-dbdaf97 elementor-widget elementor-widget-heading" data-id="dbdaf97" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">アクセス</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-6ccaea6 elementor-widget elementor-widget-text-editor" data-id="6ccaea6" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>住所：茅ヶ崎市浜須賀2－16 コンフォールHINOMOTO＃２<br>電話：0467-53-8295</p>						</div>
				</div>
				<div class="elementor-element elementor-element-f49f588 elementor-widget elementor-widget-google_maps" data-id="f49f588" data-element_type="widget" data-widget_type="google_maps.default">
				<div class="elementor-widget-container">
			<style>/*! elementor - v3.6.2 - 04-04-2022 */
.elementor-widget-google_maps .elementor-widget-container{overflow:hidden}.elementor-widget-google_maps iframe{height:300px}</style>		<div class="elementor-custom-embed">
			<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=%E8%8C%85%E3%83%B6%E5%B4%8E%E5%B8%82%E6%B5%9C%E9%A0%88%E8%B3%802%EF%BC%8D16&amp;t=m&amp;z=14&amp;output=embed&amp;iwloc=near" title="茅ヶ崎市浜須賀2－16" aria-label="茅ヶ崎市浜須賀2－16"></iframe>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-06bb833 elementor-widget elementor-widget-heading" data-id="06bb833" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<p class="elementor-heading-title elementor-size-default"><a href="https://www.google.com/maps?ll=35.325637,139.431022&amp;z=14&amp;t=m&amp;hl=ja&amp;gl=US&amp;mapclient=embed&amp;q=%E3%80%92253-0035+%E7%A5%9E%E5%A5%88%E5%B7%9D%E7%9C%8C%E8%8C%85%E3%83%B6%E5%B4%8E%E5%B8%82%E6%B5%9C%E9%A0%88%E8%B3%80%EF%BC%92%E2%88%92%EF%BC%91%EF%BC%96" target="_blank">GoogleMapで見る</a></p>		</div>
				</div>
				<div class="elementor-element elementor-element-50da154 elementor-widget elementor-widget-heading" data-id="50da154" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">バス送迎対象校</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-25c4e2e elementor-widget elementor-widget-text-editor" data-id="25c4e2e" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>東海岸小、浜須賀小、汐見台小、松浪小、緑が浜小、高砂小、円蔵小、松林小、室田小</p><p>公設学童保育前へのお迎えも行っております。ご希望の方は教室までお問い合わせください。</p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-top-section elementor-element elementor-element-80facc6 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="80facc6" data-element_type="section" id="chigasaki" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-f150b66" data-id="f150b66" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated e-swiper-container">
								<div class="elementor-element elementor-element-913171c elementor-widget elementor-widget-heading" data-id="913171c" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">茅ヶ崎ブランチ校</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-abe8b18 elementor-widget elementor-widget-heading" data-id="abe8b18" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">施設紹介</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-c4975f7 eae--hr-position-center eae--vr-position-middle elementor-widget elementor-widget-eae-thumbgallery e-widget-swiper" data-id="c4975f7" data-element_type="widget" data-settings="{&quot;thumb_slides_per_view_mobile&quot;:3,&quot;thumb_slides_per_view&quot;:3,&quot;thumb_slides_per_view_tablet&quot;:3,&quot;thumb_space_between&quot;:10,&quot;thumb_space_between_tablet&quot;:10,&quot;thumb_space_between_mobile&quot;:5,&quot;slider_space_between&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:10,&quot;sizes&quot;:[]},&quot;slider_space_between_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:15,&quot;sizes&quot;:[]},&quot;slider_space_between_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:10,&quot;sizes&quot;:[]}}" data-widget_type="eae-thumbgallery.default">
				<div class="elementor-widget-container">
			
		<div class="eae-swiper-outer-wrapper eae-swiper" data-swiper-settings="{&quot;effect&quot;:&quot;slide&quot;,&quot;speed&quot;:500,&quot;spaceBetween&quot;:{&quot;desktop&quot;:10,&quot;tablet&quot;:15,&quot;mobile&quot;:10},&quot;loop&quot;:&quot;yes&quot;,&quot;navigation&quot;:&quot;yes&quot;,&quot;clickable&quot;:false,&quot;keyboard&quot;:true}" data-slides-per-view="{&quot;desktop&quot;:3,&quot;tablet&quot;:3,&quot;mobile&quot;:3}" data-space="{&quot;desktop&quot;:10,&quot;tablet&quot;:10,&quot;mobile&quot;:5}">
					   
			<div class="eae-swiper-container swiper-container swiper-container-initialized swiper-container-horizontal">
				<div class="eae-swiper-wrapper swiper-wrapper slider_vertical_wrapper" style="transition-duration: 0ms; transform: translate3d(-790px, 0px, 0px);"><div class="elementor-repeater-item-b745fe9 eae-swiper-slide swiper-slide swiper-slide-duplicate swiper-slide-prev" style="background-image: url(&quot;assets/images/img_16.jpg&quot;); width: 780px; margin-right: 10px;" data-swiper-slide-index="4">
				   
												<div class="eae-slide-inner">															<div class="eae-slide-content">
																			<div class="eae-slide-heading">Slide Heading</div>
									
										
									<div class="eae-slide-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit Ut elit tellus.</div>
									
																		<div class="eae-slide-button">
																					<span class="eae-slide-btn">Click Here</span> 
																			</div>
																	</div>
														</div>							</div>
					

					<div class="elementor-repeater-item-46de495 eae-swiper-slide swiper-slide swiper-slide-active" style="background-image: url(&quot;assets/images/img_17.jpg&quot;); width: 780px; margin-right: 10px;" data-swiper-slide-index="0">
				   
												<div class="eae-slide-inner">														</div>							</div>
				   
					

					<div class="elementor-repeater-item-5dd1801 eae-swiper-slide swiper-slide swiper-slide-next" style="background-image: url(&quot;assets/images/img_18.jpg&quot;); width: 780px; margin-right: 10px;" data-swiper-slide-index="1">
				   
												<div class="eae-slide-inner">														</div>							</div>
				   
					

					<div class="elementor-repeater-item-2e51e11 eae-swiper-slide swiper-slide" style="background-image: url(&quot;assets/images/img_19.jpg&quot;); width: 780px; margin-right: 10px;" data-swiper-slide-index="2">
				   
												<div class="eae-slide-inner">														</div>							</div>
				   
					

					<div class="elementor-repeater-item-60cfd1c eae-swiper-slide swiper-slide" style="background-image: url(&quot;assets/images/img_20.jpg&quot;); width: 780px; margin-right: 10px;" data-swiper-slide-index="3">
				   
												<div class="eae-slide-inner">														</div>							</div>
				   
					

					<div class="elementor-repeater-item-b745fe9 eae-swiper-slide swiper-slide swiper-slide-duplicate-prev" style="background-image: url(&quot;assets/images/img_16.jpg&quot;); width: 780px; margin-right: 10px;" data-swiper-slide-index="4">
				   
												<div class="eae-slide-inner">															<div class="eae-slide-content">
																			<div class="eae-slide-heading">Slide Heading</div>
									
										
									<div class="eae-slide-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit Ut elit tellus.</div>
									
																		<div class="eae-slide-button">
																					<span class="eae-slide-btn">Click Here</span> 
																			</div>
																	</div>
														</div>							</div>
				   
					 
				<div class="elementor-repeater-item-46de495 eae-swiper-slide swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" style="background-image: url(&quot;assets/images/img_17.jpg&quot;); width: 780px; margin-right: 10px;" data-swiper-slide-index="0">
				   
												<div class="eae-slide-inner">														</div>							</div></div>
			   
														<div class=" eae-swiper-button eae-slider-nav-button  eae-swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide">
							<i class="fa fa-angle-left"></i>						</div>	
						   
						<div class="eae-swiper-button eae-slider-nav-button eae-swiper-button-next" tabindex="0" role="button" aria-label="Next slide">
							<i class="fa fa-angle-right"></i>						</div>	
								   
					
			<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>	
		
			<div class="eae-thumb-container swiper-container eae-gallery-thumbs eae-thumb-horizontal-bottom swiper-container-initialized swiper-container-horizontal swiper-container-free-mode swiper-container-thumbs">
				<div class="eae-thumb-wrapper swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(-790px, 0px, 0px);"><div class="elementor-repeater-item-2e51e11 eae-thumb-slide swiper-slide swiper-slide-duplicate" style="background-image: url(&quot;assets/images/img_19.jpg&quot;); width: 253.333px; margin-right: 10px;" data-swiper-slide-index="2">
								<div class="eae-fit-aspect-ratio"></div>
						</div><div class="elementor-repeater-item-60cfd1c eae-thumb-slide swiper-slide swiper-slide-duplicate" style="background-image: url(&quot;assets/images/img_20.jpg&quot;); width: 253.333px; margin-right: 10px;" data-swiper-slide-index="3">
								<div class="eae-fit-aspect-ratio"></div>
						</div><div class="elementor-repeater-item-b745fe9 eae-thumb-slide swiper-slide swiper-slide-duplicate swiper-slide-prev" style="background-image: url(&quot;assets/images/img_16.jpg&quot;); width: 253.333px; margin-right: 10px;" data-swiper-slide-index="4">
								<div class="eae-fit-aspect-ratio"></div>
						</div>
										   
						<div class="elementor-repeater-item-46de495 eae-thumb-slide swiper-slide swiper-slide-visible swiper-slide-active swiper-slide-thumb-active" style="background-image: url(&quot;assets/images/img_17.jpg&quot;); width: 253.333px; margin-right: 10px;" data-swiper-slide-index="0">
								<div class="eae-fit-aspect-ratio"></div>
						</div>
										   
						<div class="elementor-repeater-item-5dd1801 eae-thumb-slide swiper-slide swiper-slide-visible swiper-slide-next" style="background-image: url(&quot;assets/images/img_18.jpg&quot;); width: 253.333px; margin-right: 10px;" data-swiper-slide-index="1">
								<div class="eae-fit-aspect-ratio"></div>
						</div>
										   
						<div class="elementor-repeater-item-2e51e11 eae-thumb-slide swiper-slide swiper-slide-visible" style="background-image: url(&quot;assets/images/img_19.jpg&quot;); width: 253.333px; margin-right: 10px;" data-swiper-slide-index="2">
								<div class="eae-fit-aspect-ratio"></div>
						</div>
										   
						<div class="elementor-repeater-item-60cfd1c eae-thumb-slide swiper-slide" style="background-image: url(&quot;assets/images/img_20.jpg&quot;); width: 253.333px; margin-right: 10px;" data-swiper-slide-index="3">
								<div class="eae-fit-aspect-ratio"></div>
						</div>
										   
						<div class="elementor-repeater-item-b745fe9 eae-thumb-slide swiper-slide swiper-slide-duplicate-prev" style="background-image: url(&quot;assets/images/img_16.jpg&quot;); width: 253.333px; margin-right: 10px;" data-swiper-slide-index="4">
								<div class="eae-fit-aspect-ratio"></div>
						</div>
					 
				<div class="elementor-repeater-item-46de495 eae-thumb-slide swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active swiper-slide-thumb-active" style="background-image: url(&quot;assets/images/img_17.jpg&quot;); width: 253.333px; margin-right: 10px;" data-swiper-slide-index="0">
								<div class="eae-fit-aspect-ratio"></div>
						</div><div class="elementor-repeater-item-5dd1801 eae-thumb-slide swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" style="background-image: url(&quot;assets/images/img_18.jpg&quot;); width: 253.333px; margin-right: 10px;" data-swiper-slide-index="1">
								<div class="eae-fit-aspect-ratio"></div>
						</div><div class="elementor-repeater-item-2e51e11 eae-thumb-slide swiper-slide swiper-slide-duplicate" style="background-image: url(&quot;assets/images/img_19.jpg&quot;); width: 253.333px; margin-right: 10px;" data-swiper-slide-index="2">
								<div class="eae-fit-aspect-ratio"></div>
						</div></div>

				
			<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>

				</div> 
				</div>
				</div>
				<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-181c80f elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="181c80f" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-4434099" data-id="4434099" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-3bf336c elementor-widget elementor-widget-text-editor" data-id="3bf336c" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>BRANCH茅ケ崎２にある茅ヶ崎校は、好奇心を掻き立てる商業施設内にありながら、近隣には自然豊かな公園があり、外遊びにも適した立地にあります。</p><p><u>天井が高く</u>開放感あふれる教室は、<u>木を基調</u>とした作りになっており、<u>芝生のステージ</u>が併設された開放的な空間です。</p><p>長時間快適に過ごせるように、部屋割りや配置など全て計算し設計された部屋は、安心して滞在できる空間です。</p><p>英語以外でも水泳、体操、ダンス、プログラミング、速読等を追加で受講することができ、お子さまの可能性を大きく広げることができます。</p><p>茅ヶ崎校は多彩な経験から、生きる英語を身につけ、生きる力を育む教室です。保護者の皆様とお子さまの成長を見守らせて頂けることを、スタッフ一同、楽しみにお待ちしております。</p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<div class="elementor-element elementor-element-9d39a1c elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-heading" data-id="9d39a1c" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">マネージャー/講師紹介</h2>		</div>
				</div>
				<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-10edc58 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="10edc58" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-0c3775c" data-id="0c3775c" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-4052b0c elementor-widget elementor-widget-image" data-id="4052b0c" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img width="768" height="905" src="/images/school/img_8.jpg" class="attachment-medium_large size-medium_large" alt="" loading="lazy" srcset="assets/images/img_8.jpg 768w, https://h-cube.academy/wp/wp-content/uploads/2023/02/2B2A0096-scaled-e1676355139544-255x300.jpg 255w, https://h-cube.academy/wp/wp-content/uploads/2023/02/2B2A0096-scaled-e1676355139544-869x1024.jpg 869w, https://h-cube.academy/wp/wp-content/uploads/2023/02/2B2A0096-scaled-e1676355139544.jpg 972w" sizes="(max-width: 768px) 100vw, 768px">															</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-c5224d7" data-id="c5224d7" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-aa63b39 elementor-widget elementor-widget-heading" data-id="aa63b39" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<span class="elementor-heading-title elementor-size-default">マネージャー</span>		</div>
				</div>
				<div class="elementor-element elementor-element-3a441bb elementor-widget elementor-widget-heading" data-id="3a441bb" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h4 class="elementor-heading-title elementor-size-default">髙田美智子</h4>		</div>
				</div>
				<div class="elementor-element elementor-element-28c085f elementor-widget elementor-widget-text-editor" data-id="28c085f" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>こんにちは。　ブランチ校　スクールマネージャーの髙田です。</p><p>ブランチ校の隣にあるアデック知力育成教室のスクールマネージャーを致しておりました。その経験と自身の子育ての経験を活かしH-CUBEで過ごすお子様、保護者様へのお手伝いさせて頂きたいと思っております。お子様たちが楽しく安心して学べる場所としてH-CUBEを好きになって頂けたら幸いです。</p><p>どうぞよろしくお願い致します。</p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-ef9c284 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="ef9c284" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-7475096" data-id="7475096" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-648837f elementor-widget elementor-widget-image" data-id="648837f" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img width="768" height="756" src="https://h-cube.academy/wp/wp-content/uploads/2022/10/chanel-修正-768x756.jpg" class="attachment-medium_large size-medium_large" alt="" loading="lazy" srcset="https://h-cube.academy/wp/wp-content/uploads/2022/10/chanel-修正-768x756.jpg 768w, https://h-cube.academy/wp/wp-content/uploads/2022/10/chanel-修正-300x295.jpg 300w, https://h-cube.academy/wp/wp-content/uploads/2022/10/chanel-修正-1024x1008.jpg 1024w, https://h-cube.academy/wp/wp-content/uploads/2022/10/chanel-修正-1536x1512.jpg 1536w, https://h-cube.academy/wp/wp-content/uploads/2022/10/chanel-修正-2048x2015.jpg 2048w" sizes="(max-width: 768px) 100vw, 768px">															</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-90ea950" data-id="90ea950" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-c176086 elementor-widget elementor-widget-heading" data-id="c176086" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h4 class="elementor-heading-title elementor-size-default">Chanel　Icawalo</h4>		</div>
				</div>
				<div class="elementor-element elementor-element-6cc42f6 elementor-widget elementor-widget-text-editor" data-id="6cc42f6" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p style="-webkit-font-smoothing: antialiased;">Hi! I’m Chanel.</p><p style="-webkit-font-smoothing: antialiased;">&nbsp;I’ve been in Japan for almost 7 years. I’m excited to teach you and have fun together in English. English is a very important tool for adventure and learning across the world. Let’s have fun together in English!</p><p style="-webkit-font-smoothing: antialiased;">&nbsp;</p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-7c3f392 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="7c3f392" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-83113d0" data-id="83113d0" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-f80ba80 elementor-widget elementor-widget-image" data-id="f80ba80" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img width="396" height="396" src="/images/school/img_10.jpg" class="attachment-medium_large size-medium_large" alt="Mihoko Ooida" loading="lazy" srcset="assets/images/img_10.jpg 396w, https://h-cube.academy/wp/wp-content/uploads/2022/02/chigasaki_prof_04-300x300.jpg 300w, https://h-cube.academy/wp/wp-content/uploads/2022/02/chigasaki_prof_04-150x150.jpg 150w" sizes="(max-width: 396px) 100vw, 396px">															</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-f376751" data-id="f376751" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-9ece7f2 elementor-widget elementor-widget-heading" data-id="9ece7f2" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h4 class="elementor-heading-title elementor-size-default">Mihoko Ooida</h4>		</div>
				</div>
				<div class="elementor-element elementor-element-f0a7793 elementor-widget elementor-widget-text-editor" data-id="f0a7793" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p><span style="font-style: inherit; font-weight: inherit;">Hello! I’m teacher Mihoko. If you can speak English, you can make a lot of friends all over the world. Let’s have fun learning English!</span></p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<div class="elementor-element elementor-element-d67e241 elementor-widget elementor-widget-heading" data-id="d67e241" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">料金例</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-9e703fb elementor-widget elementor-widget-heading" data-id="9e703fb" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">例）週1回送迎無し</h2>		</div>
				</div>
				<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-5058db7 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="5058db7" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-a74b060" data-id="a74b060" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-4df9eb6 elementor-widget elementor-widget-heading" data-id="4df9eb6" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<p class="elementor-heading-title elementor-size-default">月謝</p>		</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-27e704c" data-id="27e704c" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-b712ee5 elementor-widget elementor-widget-heading" data-id="b712ee5" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<p class="elementor-heading-title elementor-size-default">16,000円<span> (税込17,600円)</span></p>		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-d920d6b elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="d920d6b" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-3c7dc2d" data-id="3c7dc2d" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-1a14e3f elementor-widget elementor-widget-heading" data-id="1a14e3f" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<p class="elementor-heading-title elementor-size-default">維持管理費</p>		</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-9ef4737" data-id="9ef4737" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-f8dfaef elementor-widget elementor-widget-heading" data-id="f8dfaef" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<p class="elementor-heading-title elementor-size-default">2,545円<span> (税込2,800円)</span></p>		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-edaaffa elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="edaaffa" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-ba0017d" data-id="ba0017d" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-c438c32 elementor-widget elementor-widget-heading" data-id="c438c32" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<p class="elementor-heading-title elementor-size-default">おやつ代</p>		</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-61ec703" data-id="61ec703" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-a5438e0 elementor-widget elementor-widget-heading" data-id="a5438e0" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<p class="elementor-heading-title elementor-size-default">600円<span> (税込660円)</span></p>		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<div class="elementor-element elementor-element-98b60ec elementor-widget elementor-widget-heading" data-id="98b60ec" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">アクセス</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-ae9548a elementor-widget elementor-widget-text-editor" data-id="ae9548a" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>住所：神奈川県茅ケ崎市浜見平3-1　BRANCH　茅ケ崎２　2階<br>電話番号：0467-84-9215</p>						</div>
				</div>
				<div class="elementor-element elementor-element-23144bb elementor-widget elementor-widget-google_maps" data-id="23144bb" data-element_type="widget" data-widget_type="google_maps.default">
				<div class="elementor-widget-container">
					<div class="elementor-custom-embed">
			<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=%E7%A5%9E%E5%A5%88%E5%B7%9D%E7%9C%8C%E8%8C%85%E3%82%B1%E5%B4%8E%E5%B8%82%E6%B5%9C%E8%A6%8B%E5%B9%B33-1&amp;t=m&amp;z=13&amp;output=embed&amp;iwloc=near" title="神奈川県茅ケ崎市浜見平3-1" aria-label="神奈川県茅ケ崎市浜見平3-1"></iframe>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-7b35e24 elementor-widget elementor-widget-heading" data-id="7b35e24" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<p class="elementor-heading-title elementor-size-default"><a href="https://goo.gl/maps/tjGk1QrpThRuGTZ4A" target="_blank">GoogleMapで見る</a></p>		</div>
				</div>
				<div class="elementor-element elementor-element-0e06a07 elementor-widget elementor-widget-heading" data-id="0e06a07" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">バス送迎対象校</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-ee1b4a4 elementor-widget elementor-widget-text-editor" data-id="ee1b4a4" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>西浜小、柳島小、茅ヶ崎小、東海岸小、鶴嶺小、今宿小　梅田小　浜之郷小</p>
<p>公設学童保育前へのお迎えも行っております。ご希望の方は教室までお問い合わせください。</p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
							</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
						</div>
					</main><!-- #main -->
			

</Layout>
