---
import Layout from '../../layouts/Layout.astro';
import '../../styles/lesson.css';
---
<Layout title="レッスン内容 - H-CUBE ACADEMY" description="H-CUBE ACADEMYのレッスン内容をご紹介します。" pageTitle="レッスン内容" bodyClass="page-id-2588 elementor-page-2588">

<div data-elementor-type="wp-page" data-elementor-id="2588" class="elementor elementor-2588">
									<section class="has_eae_slider elementor-section elementor-top-section elementor-element elementor-element-a99b20e elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="a99b20e" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-0d793c8" data-id="0d793c8" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-5f901ff elementor-widget elementor-widget-heading" data-id="5f901ff" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">英語学童保育H-CUBEの特徴</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-1571d28 elementor-widget elementor-widget-heading" data-id="1571d28" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Feature</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-52b7583 elementor-widget elementor-widget-heading" data-id="52b7583" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">\　使える英語が身につく　/</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-3ceb78f elementor-widget elementor-widget-html" data-id="3ceb78f" data-element_type="widget" data-widget_type="html.default">
				<div class="elementor-widget-container">
			<div class="faq-container">
<dl class="faq-box">
<dt>英語を使って聞く、遊ぶ、身につける<p class="accordion_icon"><span></span><span></span></p></dt>
<dd>
<div class="inner-dd">
<div class="txt">
    <h3>英語にどっぷりつかれる放課後クラス</h3>
    <p>実験、工作、算数、宿題フォロー等勉強分野はもちろん、音楽や食育、外遊びお子さまの好奇心をくすぐるさまざまなプログラムを用意。もちろん、<u>すべて英語</u>で行います。多国籍の外国人の先生や指導経験豊富なベテランの先生が、お子さまの意欲をかきたて、好奇心をくすぐります。英語にどっぷりつかる環境の中で、英語力アップだけでなく、新しい知識や体験との出会いがある場所。そして自分の意見や考えを表現、発表で出来る場所。それがH-CUBEです。</p></div>

<!-- 01 -->
<div class="img">
    <img src="/images/lesson/img_2.webp" alt="画像">
</div>
</div>
</dd>
</dl>
<dl class="faq-box">
<dt>英語はツールです<p class="accordion_icon"><span></span><span></span></p></dt>
<dd>
<div class="inner-dd">
<div class="txt">
    <h3>将来に役立つ、使える英語を身につけよう！</h3>
    <p>英語は、お子さまたちがこれからの時代を生きぬくための大切なツールです。知識としてもっているだけでなく、日常的に使いこなすことが、お子さまの<u>生きる力を育む</u>ことにつながります。H-CUBEでは「卵」という英単語だけを教えることはありません。「卵を割る」といった日常シーンで使える英語の言い回しや英文を作るときのルールも教えます。日常シーンや、大人になった時に役立つ本当の意味での使える英語を身につけましょう。</p></div>
<!-- 02 -->
<div class="img">
    <img src="/images/lesson/img_3.webp" alt="画像">
</div>
</div>
</dd>
</dl>
<dl class="faq-box">
<dt>日々の成長を実感し可視化できます<p class="accordion_icon"><span></span><span></span></p></dt>
<dd>
<div class="inner-dd">
<div class="txt">
    <h3>学校の授業・資格・試験対策もおまかせ！</h3>
    <p>H-CUBEオリジナル教材を使い、お子さまは自分がどこまで英語を身につけられているか日々実感し、ご家庭ではその成長を可視化することができる仕組みを確立。「聞く」「話す」「読む」「書く」（発表する）4技能5領域をバランスよく身につけることが出来るので、学校の授業や<u>資格、試験対策</u>もお任せ下さい。「英語の学童に通わせてるけど、実際の能力がどのくらい身についているのかわからない」そんなご家族は特にH-CUBEと他の学童との違いに驚くはずです。</p></div>
<!-- 03 -->
<div class="img">
    <img src="/images/lesson/img_4.webp">
</div>
</div>
</dd>
</dl>
  
</div>


<!-- jQuery -->

<!-- Slick Slider -->

<style>/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
</style>
<style>@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: 'â';
}
[dir='rtl'] .slick-prev:before
{
    content: 'â';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: 'â';
}
[dir='rtl'] .slick-next:before
{
    content: 'â';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: 'â¢';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}
</style>

		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
		<div class="elementor-element elementor-element-7147dbf e-container--column e-container" data-id="7147dbf" data-element_type="container">				<div class="elementor-element elementor-element-bb90971 elementor-widget elementor-widget-heading" data-id="bb90971" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">各クラスの紹介</h2>		</div>
				</div>
		</div>		<section class="has_eae_slider elementor-section elementor-top-section elementor-element elementor-element-51e4848 elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default" data-id="51e4848" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;stretch_section&quot;:&quot;section-stretched&quot;}" style="width: 2774px; left: -827px;">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-ec2b869" data-id="ec2b869" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-8f35033 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="8f35033" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-7279b85" data-id="7279b85" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-917c70d elementor-align-center elementor-mobile-align-justify lesson_btn elementor-widget elementor-widget-button" data-id="917c70d" data-element_type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a href="#pre" class="elementor-button-link elementor-button elementor-size-md" role="button">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-text">Pre<br><span class="small">プレ</span></span>
		</span>
					</a>
		</div>
				</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-33d50ba" data-id="33d50ba" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-fc9d04b elementor-align-center elementor-mobile-align-justify lesson_btn elementor-widget elementor-widget-button" data-id="fc9d04b" data-element_type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a href="#kindy" class="elementor-button-link elementor-button elementor-size-md" role="button">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-text">Kindy<br><span class="small">キンディー</span></span>
		</span>
					</a>
		</div>
				</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-17bbb5b" data-id="17bbb5b" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-48ab274 elementor-align-center elementor-mobile-align-justify lesson_btn elementor-widget elementor-widget-button" data-id="48ab274" data-element_type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a href="#ele" class="elementor-button-link elementor-button elementor-size-md" role="button">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-text">Ele<br><span class="small">エレメンタリー</span></span>
		</span>
					</a>
		</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-top-section elementor-element elementor-element-e0d636a elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="e0d636a" data-element_type="section" id="pre" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;stretch_section&quot;:&quot;section-stretched&quot;}" style="width: 2774px; left: -827px;">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-9850172" data-id="9850172" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-e522273 elementor-widget elementor-widget-heading" data-id="e522273" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Pre</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-78f3dfe elementor-widget elementor-widget-heading" data-id="78f3dfe" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">1日のスケジュール</h2>		</div>
				</div>
				<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-5d8c3b6 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="5d8c3b6" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-c4b01b2" data-id="c4b01b2" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-6f06028 elementor-widget elementor-widget-heading" data-id="6f06028" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h3 class="elementor-heading-title elementor-size-default">１</h3>		</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-4217079" data-id="4217079" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-0d26ab0 elementor-widget elementor-widget-heading" data-id="0d26ab0" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h3 class="elementor-heading-title elementor-size-default">9:30～11:00 <br>グッドモーニングブレインメソッドタイム</h3>		</div>
				</div>
				<div class="elementor-element elementor-element-f4e1642 elementor-widget elementor-widget-heading" data-id="f4e1642" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<p class="elementor-heading-title elementor-size-default">アルファベットや英語の音をネイティブティーチャーと一緒に遊んで覚えます。
遊びを通じて、ネイティブ英語に親しみます。　
</p>		</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-f74e468" data-id="f74e468" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-8ed3a4b elementor-widget elementor-widget-image" data-id="8ed3a4b" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img width="1000" height="667" src="https://h-cube.academy/wp/wp-content/uploads/2022/08/Preグッドモーニングブレインメソッド.jpg" class="attachment-large size-large" alt="" loading="lazy" srcset="https://h-cube.academy/wp/wp-content/uploads/2022/08/Preグッドモーニングブレインメソッド.jpg 1000w, https://h-cube.academy/wp/wp-content/uploads/2022/08/Preグッドモーニングブレインメソッド-300x200.jpg 300w, https://h-cube.academy/wp/wp-content/uploads/2022/08/Preグッドモーニングブレインメソッド-768x512.jpg 768w" sizes="(max-width: 1000px) 100vw, 1000px">															</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-39e39ff elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="39e39ff" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-5c6e1c4" data-id="5c6e1c4" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-76cf7c2 elementor-widget elementor-widget-heading" data-id="76cf7c2" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h3 class="elementor-heading-title elementor-size-default">2</h3>		</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-60a7449" data-id="60a7449" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-3b8f805 elementor-widget elementor-widget-heading" data-id="3b8f805" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h3 class="elementor-heading-title elementor-size-default">11:00～12:00<br> H-CUBE オリジナルメソッドタイム</h3>		</div>
				</div>
				<div class="elementor-element elementor-element-606a4e7 elementor-widget elementor-widget-heading" data-id="606a4e7" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<p class="elementor-heading-title elementor-size-default">専門家による水泳や体操、季節のクラフト制作や絵画など英語を使って行います。<br>
運動能力や知行性を育み、英語を通して、グローバル思考を身につけます。
</p>		</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-d825cf0" data-id="d825cf0" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-15e4375 elementor-widget elementor-widget-image" data-id="15e4375" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img width="1000" height="667" src="https://h-cube.academy/wp/wp-content/uploads/2022/08/H-CUBEオリジナルメソッドタイム.jpg" class="attachment-large size-large" alt="" loading="lazy" srcset="https://h-cube.academy/wp/wp-content/uploads/2022/08/H-CUBEオリジナルメソッドタイム.jpg 1000w, https://h-cube.academy/wp/wp-content/uploads/2022/08/H-CUBEオリジナルメソッドタイム-300x200.jpg 300w, https://h-cube.academy/wp/wp-content/uploads/2022/08/H-CUBEオリジナルメソッドタイム-768x512.jpg 768w" sizes="(max-width: 1000px) 100vw, 1000px">															</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-77baf1e elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="77baf1e" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-f69faf9" data-id="f69faf9" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-c5cf068 elementor-widget elementor-widget-heading" data-id="c5cf068" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h3 class="elementor-heading-title elementor-size-default">3</h3>		</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-0c92e87" data-id="0c92e87" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-476e411 elementor-widget elementor-widget-heading" data-id="476e411" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h3 class="elementor-heading-title elementor-size-default">12:15～13:30 <br>ランチアンドバイバイタイム</h3>		</div>
				</div>
				<div class="elementor-element elementor-element-4f79340 elementor-widget elementor-widget-heading" data-id="4f79340" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<p class="elementor-heading-title elementor-size-default">お昼ご飯を食べ、お片付けをして帰ります。<br>
お弁当は施設で注文もできます。延長でのお預かりも可能です。
</p>		</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-8e16e70" data-id="8e16e70" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-11be65a elementor-widget elementor-widget-image" data-id="11be65a" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img width="1024" height="683" src="https://h-cube.academy/wp/wp-content/uploads/2022/08/ランチタイム-1024x683.jpg" class="attachment-large size-large" alt="" loading="lazy" srcset="https://h-cube.academy/wp/wp-content/uploads/2022/08/ランチタイム-1024x683.jpg 1024w, https://h-cube.academy/wp/wp-content/uploads/2022/08/ランチタイム-300x200.jpg 300w, https://h-cube.academy/wp/wp-content/uploads/2022/08/ランチタイム-768x512.jpg 768w, https://h-cube.academy/wp/wp-content/uploads/2022/08/ランチタイム-1536x1024.jpg 1536w, https://h-cube.academy/wp/wp-content/uploads/2022/08/ランチタイム-2048x1365.jpg 2048w" sizes="(max-width: 1024px) 100vw, 1024px">															</div>
				</div>
					</div>
		</div>
							</div>
		</section>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-top-section elementor-element elementor-element-80facc6 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="80facc6" data-element_type="section" id="kindy" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;stretch_section&quot;:&quot;section-stretched&quot;}" style="width: 2774px; left: -827px;">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-f150b66" data-id="f150b66" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-913171c elementor-widget elementor-widget-heading" data-id="913171c" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Kindy</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-9d39a1c elementor-widget elementor-widget-heading" data-id="9d39a1c" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">1日のスケジュール</h2>		</div>
				</div>
				<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-89d4fe4 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="89d4fe4" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-e50cd3e" data-id="e50cd3e" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-f574613 elementor-widget elementor-widget-heading" data-id="f574613" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h3 class="elementor-heading-title elementor-size-default">１</h3>		</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-617fb4e" data-id="617fb4e" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-dbfc2e9 elementor-widget elementor-widget-heading" data-id="dbfc2e9" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h3 class="elementor-heading-title elementor-size-default">14:30～15:00 <br>アフターヌーンブレインメソッドタイム</h3>		</div>
				</div>
				<div class="elementor-element elementor-element-3e1d3f0 elementor-widget elementor-widget-heading" data-id="3e1d3f0" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<p class="elementor-heading-title elementor-size-default">ネイティブティーチャーと一緒に英語で遊んだ後、英語のスペルと発音を正しく覚えます。<br>
施設内全て英語環境になり、ネイティブ英語の取得に繋げます。
</p>		</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-357957a" data-id="357957a" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-73e70ef elementor-widget elementor-widget-image" data-id="73e70ef" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img width="1000" height="667" src="https://h-cube.academy/wp/wp-content/uploads/2022/08/アフタヌーンブレインメソッドタイム-1.jpg" class="attachment-large size-large" alt="" loading="lazy" srcset="https://h-cube.academy/wp/wp-content/uploads/2022/08/アフタヌーンブレインメソッドタイム-1.jpg 1000w, https://h-cube.academy/wp/wp-content/uploads/2022/08/アフタヌーンブレインメソッドタイム-1-300x200.jpg 300w, https://h-cube.academy/wp/wp-content/uploads/2022/08/アフタヌーンブレインメソッドタイム-1-768x512.jpg 768w" sizes="(max-width: 1000px) 100vw, 1000px">															</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-cca06a8 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="cca06a8" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-f3be0de" data-id="f3be0de" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-ac1b6b2 elementor-widget elementor-widget-heading" data-id="ac1b6b2" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h3 class="elementor-heading-title elementor-size-default">2</h3>		</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-1158c09" data-id="1158c09" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-df6370c elementor-widget elementor-widget-heading" data-id="df6370c" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h3 class="elementor-heading-title elementor-size-default">15:00～17:00<br>H-CUBEオリジナルメソッドタイム</h3>		</div>
				</div>
				<div class="elementor-element elementor-element-318ee9f elementor-widget elementor-widget-heading" data-id="318ee9f" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<p class="elementor-heading-title elementor-size-default">ダンスや外遊び、季節の工作や絵画など英語を使って行います。<br>
運動能力、緻行性や芸術性を育み、英語を通して、グローバル思考を身につけます。

</p>		</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-cd46d84" data-id="cd46d84" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-235767b elementor-widget elementor-widget-image" data-id="235767b" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img width="1000" height="667" src="https://h-cube.academy/wp/wp-content/uploads/2022/08/オリジナルメソッドタイム・実験.jpg" class="attachment-large size-large" alt="" loading="lazy" srcset="https://h-cube.academy/wp/wp-content/uploads/2022/08/オリジナルメソッドタイム・実験.jpg 1000w, https://h-cube.academy/wp/wp-content/uploads/2022/08/オリジナルメソッドタイム・実験-300x200.jpg 300w, https://h-cube.academy/wp/wp-content/uploads/2022/08/オリジナルメソッドタイム・実験-768x512.jpg 768w" sizes="(max-width: 1000px) 100vw, 1000px">															</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-06a5be2 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="06a5be2" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-41daa46" data-id="41daa46" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-66caec4 elementor-widget elementor-widget-heading" data-id="66caec4" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h3 class="elementor-heading-title elementor-size-default">3</h3>		</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-3f36b43" data-id="3f36b43" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-10d7b89 elementor-widget elementor-widget-heading" data-id="10d7b89" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h3 class="elementor-heading-title elementor-size-default">17:30～18:00<br>プレゼンテーションアンドバイバイタイム</h3>		</div>
				</div>
				<div class="elementor-element elementor-element-14861a7 elementor-widget elementor-widget-heading" data-id="14861a7" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<p class="elementor-heading-title elementor-size-default">覚えた単語、文章を発表します。<br>
ディスカッション方式で単語、会話の取得に繋げます。延長でのお預かりも可能です。
</p>		</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-72f35ce" data-id="72f35ce" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-45f94c4 elementor-widget elementor-widget-image" data-id="45f94c4" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img width="1000" height="667" src="https://h-cube.academy/wp/wp-content/uploads/2022/08/プレゼンテーションタイム.jpg" class="attachment-large size-large" alt="" loading="lazy" srcset="https://h-cube.academy/wp/wp-content/uploads/2022/08/プレゼンテーションタイム.jpg 1000w, https://h-cube.academy/wp/wp-content/uploads/2022/08/プレゼンテーションタイム-300x200.jpg 300w, https://h-cube.academy/wp/wp-content/uploads/2022/08/プレゼンテーションタイム-768x512.jpg 768w" sizes="(max-width: 1000px) 100vw, 1000px">															</div>
				</div>
					</div>
		</div>
							</div>
		</section>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-top-section elementor-element elementor-element-a40cc2c elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="a40cc2c" data-element_type="section" id="ele" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;stretch_section&quot;:&quot;section-stretched&quot;}" style="width: 2774px; left: -827px;">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-4afad98" data-id="4afad98" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-fc7ee02 elementor-widget elementor-widget-heading" data-id="fc7ee02" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Ele</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-cf2752d elementor-widget elementor-widget-heading" data-id="cf2752d" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">1日のスケジュール</h2>		</div>
				</div>
				<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-b99c30a elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="b99c30a" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-d60e42b" data-id="d60e42b" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-eb45eb0 elementor-widget elementor-widget-heading" data-id="eb45eb0" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h3 class="elementor-heading-title elementor-size-default">１</h3>		</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-8533d37" data-id="8533d37" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-d2d4e77 elementor-widget elementor-widget-heading" data-id="d2d4e77" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h3 class="elementor-heading-title elementor-size-default">15:00~16:00<br>アフターヌーンブレインメソッドタイム</h3>		</div>
				</div>
				<div class="elementor-element elementor-element-33ccfcc elementor-widget elementor-widget-heading" data-id="33ccfcc" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<p class="elementor-heading-title elementor-size-default">小学校まで専用バスでお迎えに行きます。
宿題をし、ネイティブティーチャーと一緒に英語のスペルと発音を正しく学びます。<br>
施設内全て英語環境になり、ネイティブ英語の定着に繋げます。
</p>		</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-01a5f3c" data-id="01a5f3c" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-4fab646 elementor-widget elementor-widget-image" data-id="4fab646" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img width="1000" height="667" src="https://h-cube.academy/wp/wp-content/uploads/2022/08/アフタヌーンブレインメソッド・宿題・Reading-1.jpg" class="attachment-large size-large" alt="" loading="lazy" srcset="https://h-cube.academy/wp/wp-content/uploads/2022/08/アフタヌーンブレインメソッド・宿題・Reading-1.jpg 1000w, https://h-cube.academy/wp/wp-content/uploads/2022/08/アフタヌーンブレインメソッド・宿題・Reading-1-300x200.jpg 300w, https://h-cube.academy/wp/wp-content/uploads/2022/08/アフタヌーンブレインメソッド・宿題・Reading-1-768x512.jpg 768w" sizes="(max-width: 1000px) 100vw, 1000px">															</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-dbf9a45 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="dbf9a45" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-b9ea422" data-id="b9ea422" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-8fecd9d elementor-widget elementor-widget-heading" data-id="8fecd9d" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h3 class="elementor-heading-title elementor-size-default">2</h3>		</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-f29d6b8" data-id="f29d6b8" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-913ab1d elementor-widget elementor-widget-heading" data-id="913ab1d" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h3 class="elementor-heading-title elementor-size-default">16:00～17:00<br>H-CUBEオリジナルメソッドタイム</h3>		</div>
				</div>
				<div class="elementor-element elementor-element-46f0824 elementor-widget elementor-widget-heading" data-id="46f0824" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<p class="elementor-heading-title elementor-size-default">英語で学校教育、国、地域の伝統や文化を学びます。<br>
考える力を身につけ、英語を通して、グローバル思考を身につけます。
</p>		</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-26d7c6c" data-id="26d7c6c" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-e21cde0 elementor-widget elementor-widget-image" data-id="e21cde0" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img width="1000" height="667" src="https://h-cube.academy/wp/wp-content/uploads/2022/08/オリジナルメソッドタイム・実験-3.jpg" class="attachment-large size-large" alt="" loading="lazy" srcset="https://h-cube.academy/wp/wp-content/uploads/2022/08/オリジナルメソッドタイム・実験-3.jpg 1000w, https://h-cube.academy/wp/wp-content/uploads/2022/08/オリジナルメソッドタイム・実験-3-300x200.jpg 300w, https://h-cube.academy/wp/wp-content/uploads/2022/08/オリジナルメソッドタイム・実験-3-768x512.jpg 768w" sizes="(max-width: 1000px) 100vw, 1000px">															</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-3e8a1e4 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="3e8a1e4" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-dfbb760" data-id="dfbb760" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-92edfae elementor-widget elementor-widget-heading" data-id="92edfae" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h3 class="elementor-heading-title elementor-size-default">3</h3>		</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-1de7e0a" data-id="1de7e0a" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-9376b83 elementor-widget elementor-widget-heading" data-id="9376b83" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h3 class="elementor-heading-title elementor-size-default">17:00~17:45<br>H-CUBEオリジナル英検タイム</h3>		</div>
				</div>
				<div class="elementor-element elementor-element-d3509ab elementor-widget elementor-widget-heading" data-id="d3509ab" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<p class="elementor-heading-title elementor-size-default">実用英語技能検定(英検)の資格取得を目指し、勉強をします。
身につけた英語力の可視化と資格取得を目的とします。
</p>		</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-7520986" data-id="7520986" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-870fe04 elementor-widget elementor-widget-image" data-id="870fe04" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img width="1000" height="667" src="/images/lesson/img_13.webp" class="attachment-large size-large" alt="" loading="lazy" srcset="assets/images/img_13.jpg 1000w, https://h-cube.academy/wp/wp-content/uploads/2022/08/eiken-300x200.jpg 300w, https://h-cube.academy/wp/wp-content/uploads/2022/08/eiken-768x512.jpg 768w" sizes="(max-width: 1000px) 100vw, 1000px">															</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-e5e8758 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="e5e8758" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-e391e16" data-id="e391e16" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-abfe2f5 elementor-widget elementor-widget-heading" data-id="abfe2f5" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h3 class="elementor-heading-title elementor-size-default">4</h3>		</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-33931ef" data-id="33931ef" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-5c00378 elementor-widget elementor-widget-heading" data-id="5c00378" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h3 class="elementor-heading-title elementor-size-default">17:45～18:00<br>プレゼンテーションアンドバイバイタイム</h3>		</div>
				</div>
				<div class="elementor-element elementor-element-16ab8ef elementor-widget elementor-widget-heading" data-id="16ab8ef" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<p class="elementor-heading-title elementor-size-default">テーマについて自分の言葉で発表します。<br>
プレゼンテーション方式で、表現力の定着に繋げます。延長でのお預かりも可能です。
</p>		</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-cfd6fd0" data-id="cfd6fd0" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-b4e2ecd elementor-widget elementor-widget-image" data-id="b4e2ecd" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img width="1000" height="667" src="https://h-cube.academy/wp/wp-content/uploads/2022/08/プレゼンタイム.jpg" class="attachment-large size-large" alt="" loading="lazy" srcset="https://h-cube.academy/wp/wp-content/uploads/2022/08/プレゼンタイム.jpg 1000w, https://h-cube.academy/wp/wp-content/uploads/2022/08/プレゼンタイム-300x200.jpg 300w, https://h-cube.academy/wp/wp-content/uploads/2022/08/プレゼンタイム-768x512.jpg 768w" sizes="(max-width: 1000px) 100vw, 1000px">															</div>
				</div>
					</div>
		</div>
							</div>
		</section>
					</div>
		</div>
							</div>
		</section>
							</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
						</div>
					</main><!-- #main -->
			

</Layout>
