---
import Layout from '../../layouts/Layout.astro';
import '../../styles/company.css';
---
<Layout title="企業情報 - H-CUBE ACADEMY" description="H-CUBE ACADEMYの企業情報ページです。" bodyClass="page-id-834 elementor-page-834">

<div data-elementor-type="wp-page" data-elementor-id="834" class="elementor elementor-834">
									<section class="has_eae_slider elementor-section elementor-top-section elementor-element elementor-element-80facc6 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="80facc6" data-element_type="section" id="company" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-d307fcb" data-id="d307fcb" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-7b74fe3 elementor-widget elementor-widget-heading" data-id="7b74fe3" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">会社概要</h2>		</div>
				</div>
				<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-3e4dfe1 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="3e4dfe1" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-4860ceb" data-id="4860ceb" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-75c281b elementor-widget elementor-widget-heading" data-id="75c281b" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<p class="elementor-heading-title elementor-size-default">会社名</p>		</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-f6143ec" data-id="f6143ec" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-bab6501 elementor-widget elementor-widget-heading" data-id="bab6501" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<p class="elementor-heading-title elementor-size-default">株式会社林水泳教室</p>		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-0efe52c elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="0efe52c" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-46a6081" data-id="46a6081" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-2cec16c elementor-widget elementor-widget-heading" data-id="2cec16c" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<p class="elementor-heading-title elementor-size-default">設立</p>		</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-092716c" data-id="092716c" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-bf521f3 elementor-widget elementor-widget-heading" data-id="bf521f3" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<p class="elementor-heading-title elementor-size-default">1976年12月16日</p>		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-908224b elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="908224b" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-4f84d83" data-id="4f84d83" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-ca0d062 elementor-widget elementor-widget-heading" data-id="ca0d062" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<p class="elementor-heading-title elementor-size-default">代表者</p>		</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-bca6cc7" data-id="bca6cc7" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-a3eb65a elementor-widget elementor-widget-heading" data-id="a3eb65a" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<p class="elementor-heading-title elementor-size-default">林 正基（代表取締役）</p>		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-2cde035 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="2cde035" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-4b920b7" data-id="4b920b7" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-a005618 elementor-widget elementor-widget-heading" data-id="a005618" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<p class="elementor-heading-title elementor-size-default">所在地</p>		</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-1058f9f" data-id="1058f9f" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-03a0f76 elementor-widget elementor-widget-heading" data-id="03a0f76" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<p class="elementor-heading-title elementor-size-default">神奈川県茅ケ崎市若松町12-1</p>		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-2394f5b elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="2394f5b" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-cb0ef74" data-id="cb0ef74" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-0f3979c elementor-widget elementor-widget-heading" data-id="0f3979c" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<p class="elementor-heading-title elementor-size-default">主な事業内容</p>		</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-a7fecac" data-id="a7fecac" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-724b87b elementor-widget elementor-widget-heading" data-id="724b87b" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<p class="elementor-heading-title elementor-size-default">水泳教室 / 体操教室 / スポーツクラブ / ダンス教室 / バレエ教室 / 
テコンドー教室 / 接骨院の運営 / 英語特化型学童保育教室の運営 / 
知育教室の運営</p>		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-top-section elementor-element elementor-element-bba3d43 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="bba3d43" data-element_type="section" id="privacy" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-1ae0528" data-id="1ae0528" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-b2e13e9 elementor-widget elementor-widget-heading" data-id="b2e13e9" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">プライバシーポリシー</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-c11d359 elementor-widget elementor-widget-text-editor" data-id="c11d359" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
			<style>/*! elementor - v3.6.2 - 04-04-2022 */
.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap{background-color:#818a91;color:#fff}.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap{color:#818a91;border:3px solid;background-color:transparent}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap{margin-top:8px}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter{width:1em;height:1em}.elementor-widget-text-editor .elementor-drop-cap{float:left;text-align:center;line-height:1;font-size:50px}.elementor-widget-text-editor .elementor-drop-cap-letter{display:inline-block}</style>				<p>ハヤシグループウェブサイト（以下、当ウェブサイト）は、株式会社林水泳教室（以下、当社）が運営しております。当ウェブサイトをご利用される前に、下記のご利用規約をよくお読みいただき、これらの内容に同意された場合のみ、ご利用くださいますようお願い申しあげます。</p><p><strong>著作権について</strong><br>当ウェブサイトで公開されるテキスト、画像、イラスト、映像、音楽データ、プログラムなどすべての内容（以下、総称としてコンテンツと呼びます）に関する権利は、当社または原著作者に帰属します。これらコンテンツの私的複製などは、法律によって認められる範囲を超えての使用はできません。<br>当社、原著作者の許諾を得ることなく複製、改変、転載、販売、出版など著作権法そのほか法律に触れる行為は禁止されております。</p><p><strong>商標について</strong><br>当ウェブサイト内のすべての商標およびロゴマーク、商号に関する権利は、当社または個々の権利の所有者に帰属します。<br>商標法権そのほか法律により認められる場合を除き、正当な権限なく無断で使用することは禁止されております。</p><p><strong>免責事項について</strong><br>当社は、当ウェブサイトに掲載する情報に関して、もしくは当サイトを利用したことでトラブルや損失、損害が発生しても、なんら責任を負うものではありません。<br>当社は、当ウェブサイトの構成、利用条件、URLおよびコンテンツなどを、予告なしに変更または削除する場合があります。また、当ウェブサイトの運営を中断または中止させていただくことがあります。あらかじめご了承ください。<br>当社は当利用規約を予告なしに変更することがございます。あらかじめご了承ください。</p><p><strong>禁止事項について</strong><br>当ウェブサイトのご利用に際し、以下の行為を禁止いたします。</p><p>1. 当ウェブサイトの運営を妨げる行為、および支障をきたす行為。<br>2. ほかの利用者、第三者、もしくは当社に迷惑、不利益、損害を与える行為、またはその恐れのある行為。<br>3. ほかの利用者、第三者、もしくは当社の財産、プライバシーなどを侵害する行為、またはその恐れのある行為。<br>4. 公序良俗に反する行為、またはその恐れのある行為。<br>5. 法律、法令もしくは条令に違反する行為、またはその恐れのある行為。<br>6. そのほか、当社が不適切と判断する行為。</p><p><strong>リンクサイトについて</strong><br>当ウェブサイトからのリンクに関し、リンク先のウェブサイトは、それぞれの運営者の責任によって管理されるものであり、その内容に関してなんら保証はいたしません。また、それらを利用した際にいかなるトラブルや損害が発生しても責任を負いません。<br>リンクは、リンク先のウェブサイトおよびその内容を当社が推奨することを意味するものではなく、また、当社とリンク先のウェブサイトとの間に、特別な関係を有することを意味するものでもありません。</p><p><strong>個人情報の取扱いについて</strong><br>当社は、お客様のプライバシー・個人情報及び設定内容などを保護することは、当社が事業活動を行う上での責務と考えています。当社ウェブページからのお申込、お問い合わせ、申込書によるお申込、メール・電話によるお問い合わせを問わず、お客様から明示された特定の個人を識別できる情報（以下「個人情報」）について下記のとおり取り扱うものとします。</p><p>※個人情報とはお客様を識別できる情報のことで、氏名、住所、電話番号、メールアドレスなどをいいます。</p><p>当社が個人情報を収集する場合は、収集目的を明らかにし、必要な範囲内の個人情報を収集いたします。</p><p>当社は取得した個人情報について適切な管理に努めると共に個人情報の漏洩、改ざん、不正な侵入の防止に努めます。</p><p>当社は取得した個人情報を次の各項の場合を除いて、原則として第三者に提供、開示などいたしません。</p><p>法律上照会権限を有する者から書面による正式な協力要請、照会があった場合、お客様の同意があった場合、お客様が、ご自身の個人情報について照会、修正などを希望される場合には、当社が定める方法によりお客様であることが確認できた場合に限り対応させていただきます。</p><p>当社は、当社が保有する個人情報に関して適用される日本の法令、その他規範を遵守するとともに、本ポリシーの内容を適宜見直し、その改善に努めます。</p><p><strong>準拠法</strong><br>当ウェブサイトの利用および当規約の解釈、適用については、別途定めがない限り日本国法に準拠するものとします。</p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
							</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
						</div>
					</main><!-- #main -->
			

</Layout>
