---
import Layout from '../layouts/Layout.astro';
import '../styles/home.css';
---
<Layout title="茅ヶ崎・英語学童保育施設「H-CUBE ACADEMY」" description="茅ヶ崎・浜見平の商業施設【BRANCH2】にて、完全ワンストップ型教育施設として次世代のお子様を持つ皆様に嬉しい様々なサービスコンテンツで「お子様の大切な放課後をプロデュース」いたします。" bodyClass="home page-id-2696 elementor-page-2696">

				<div data-elementor-type="wp-page" data-elementor-id="2696" class="elementor elementor-2696">
									<section class="has_eae_slider elementor-section elementor-top-section elementor-element elementor-element-012c717 elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle" data-id="012c717" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-f2e29f7" data-id="f2e29f7" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-4ab4cd5 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="4ab4cd5" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-349a60c" data-id="349a60c" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-a4c3923 elementor-widget elementor-widget-image" data-id="a4c3923" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img width="1140" height="117" src="/images/home/img_2.png" class="attachment-full size-full" alt="ご家庭の子育て応援団" loading="lazy" srcset="assets/images/img_2.png 1140w, https://h-cube.academy/wp/wp-content/uploads/2024/06/catch-1-300x31.png 300w, https://h-cube.academy/wp/wp-content/uploads/2024/06/catch-1-1024x105.png 1024w, https://h-cube.academy/wp/wp-content/uploads/2024/06/catch-1-768x79.png 768w" sizes="(max-width: 1140px) 100vw, 1140px">															</div>
				</div>
				<div class="elementor-element elementor-element-7600b25 elementor-widget elementor-widget-image" data-id="7600b25" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
																<a href="https://h-cube.academy/contact/">
							<img width="1024" height="127" src="/images/home/img_3.png" class="attachment-large size-large" alt="" loading="lazy" srcset="assets/images/img_3.png 1024w, https://h-cube.academy/wp/wp-content/uploads/2024/06/btn-300x37.png 300w, https://h-cube.academy/wp/wp-content/uploads/2024/06/btn-768x96.png 768w, https://h-cube.academy/wp/wp-content/uploads/2024/06/btn.png 1494w" sizes="(max-width: 1024px) 100vw, 1024px">								</a>
															</div>
				</div>
					</div>
		</div>
							</div>
		</section>
					</div>
		</div>
							</div>
		</section>
		<div class="elementor-element elementor-element-1acc310 e-container--row e-container" data-id="1acc310" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">		</div><div class="elementor-element elementor-element-bef4c4a e-container--row e-container" data-id="bef4c4a" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">				<div class="elementor-element elementor-element-cc262ac elementor-widget elementor-widget-image" data-id="cc262ac" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
																<a href="https://h-cube.academy/wp/wp-content/uploads/2024/05/2024_0531_sevice.pdf" target="_blank">
							<img width="768" height="194" src="/images/home/img_4.png" class="attachment-medium_large size-medium_large" alt="" loading="lazy" srcset="assets/images/img_4.png 768w, https://h-cube.academy/wp/wp-content/uploads/2024/05/240529_bunner-300x76.png 300w, https://h-cube.academy/wp/wp-content/uploads/2024/05/240529_bunner-1024x259.png 1024w, https://h-cube.academy/wp/wp-content/uploads/2024/05/240529_bunner.png 1501w" sizes="(max-width: 768px) 100vw, 768px">								</a>
															</div>
				</div>
		</div><div class="elementor-element elementor-element-5e81516 e-container--row e-container" data-id="5e81516" data-element_type="container" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">		</div>		<section class="has_eae_slider elementor-section elementor-top-section elementor-element elementor-element-82991b9 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="82991b9" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-c4e1d67" data-id="c4e1d67" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-2e88e31 elementor-widget elementor-widget-heading" data-id="2e88e31" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">英語を使って、学び、遊ぶ、<br>子どものためのアフタースクール</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-b75c3d1 elementor-widget elementor-widget-heading" data-id="b75c3d1" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">About</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-bcb6ef9 elementor-hidden-tablet elementor-hidden-mobile elementor-widget elementor-widget-text-editor" data-id="bcb6ef9" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
			<style>/*! elementor - v3.6.2 - 04-04-2022 */
.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap{background-color:#818a91;color:#fff}.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap{color:#818a91;border:3px solid;background-color:transparent}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap{margin-top:8px}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter{width:1em;height:1em}.elementor-widget-text-editor .elementor-drop-cap{float:left;text-align:center;line-height:1;font-size:50px}.elementor-widget-text-editor .elementor-drop-cap-letter{display:inline-block}</style>				<p>英語学童保育H-CUBEは英語を使いながら学び、遊ぶ、<br>3歳から小学校6年生までのお子様のための英語学童保育施設です。&nbsp;<br>英語環境で行われる多様な「体験型学習プログラム」により、<br>英語力はもちろん、 主体性や行動力を育みながら一人一人の個性を伸ばし、<br>世界で活躍できる国際人を育てていきます。<br>ウインタースクールやサマースクールなどでは、<br>工作やイベントなどさまざまな体験を全て英語で行います。<br>普段とは違う言語での体験は脳に刺激を与え、知識×体験は知恵となるんです。<br>湘南の茅ヶ崎を中心に 林水泳教室・パルバル湘南スポーツクラブで<br>子供たちの成長を50年以上にわたり支えてきたハヤシグループが運営し、<br>ご家庭の子育てを応援します。</p>						</div>
				</div>
				<div class="elementor-element elementor-element-808be32 elementor-hidden-desktop elementor-widget elementor-widget-text-editor" data-id="808be32" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>英語学童保育H-CUBEは英語を使いながら学び、遊ぶ、3歳から小学校6年生までのお子様のための英語学童保育施設です。&nbsp;<br>英語環境で行われる多様な「体験型学習プログラム」により、英語力はもちろん、 主体性や行動力を育みながら一人一人の個性を伸ばし、世界で活躍できる国際人を育てていきます。<br>ウインタースクールやサマースクールなどでは、工作やイベントなどさまざまな体験を全て英語で行います。<br>普段とは違う言語での体験は脳に刺激を与え、知識×体験は知恵となるんです。<br>湘南の茅ヶ崎を中心に 林水泳教室・パルバル湘南スポーツクラブで子供たちの成長を50年以上にわたり支えてきたハヤシグループが運営し、ご家庭の子育てを応援します。</p>						</div>
				</div>
				<div class="elementor-element elementor-element-2b2aaf9 elementor-widget elementor-widget-image" data-id="2b2aaf9" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img width="1024" height="683" src="/images/home/img_5.jpg" class="attachment-large size-large" alt="" loading="lazy" srcset="assets/images/img_5.jpg 1024w, https://h-cube.academy/wp/wp-content/uploads/2024/06/img_04-1-300x200.jpg 300w, https://h-cube.academy/wp/wp-content/uploads/2024/06/img_04-1-768x512.jpg 768w, https://h-cube.academy/wp/wp-content/uploads/2024/06/img_04-1.jpg 1500w" sizes="(max-width: 1024px) 100vw, 1024px">															</div>
				</div>
				<div class="elementor-element elementor-element-206cfea elementor-widget elementor-widget-image" data-id="206cfea" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img width="1024" height="685" src="/images/home/img_6.png" class="attachment-large size-large" alt="充実のコンテンツイラスト" loading="lazy" srcset="assets/images/img_6.png 1024w, https://h-cube.academy/wp/wp-content/uploads/2022/08/top_img_01-300x201.png 300w, https://h-cube.academy/wp/wp-content/uploads/2022/08/top_img_01-768x514.png 768w, https://h-cube.academy/wp/wp-content/uploads/2022/08/top_img_01.png 1218w" sizes="(max-width: 1024px) 100vw, 1024px">															</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-top-section elementor-element elementor-element-41bbe55 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="41bbe55" data-element_type="section" id="reason" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-248d23f" data-id="248d23f" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-7b47e03 elementor-widget elementor-widget-heading" data-id="7b47e03" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">選ばれる5つの理由</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-b37b959 elementor-widget elementor-widget-heading" data-id="b37b959" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Reason</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-a53bd03 elementor-widget elementor-widget-html" data-id="a53bd03" data-element_type="widget" data-widget_type="html.default">
				<div class="elementor-widget-container">
			<div class="faq-container">
<dl class="faq-box">
<dt>ハヤシグループが運営する英語学童保育施設だから！<p class="accordion_icon"><span></span><span></span></p></dt>
<dd>
<div class="inner-dd">
<div class="txt">英語学童保育H-CUBEは湘南の茅ヶ崎・藤沢の鵠沼エリアにおいて
林水泳教室、パルバル湘南スポーツクラブを通じて子供たちの成長を50年以上にわたり支えてきたハヤシグループが運営する、安心してお子様のお預かりを托せる英語学童保育施設です。</div>

<!-- 01 -->
<div class="img">
    <div class="slick-slider slick-initialized slick-dotted"><button class="slick-prev slick-arrow" aria-label="Previous" type="button" style="">Previous</button>
    <div class="slick-list draggable" style="height: 0px;"><div class="slick-track" style="opacity: 1; width: 0px;"><div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 0px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;"><img src="/images/home/img_7.jpg"></div><div class="slick-slide" data-slick-index="1" aria-hidden="true" style="width: 0px; position: relative; left: 0px; top: 0px; z-index: 998; opacity: 0;"><img src="/images/home/img_8.jpg"></div><div class="slick-slide" data-slick-index="2" aria-hidden="true" style="width: 0px; position: relative; left: 0px; top: 0px; z-index: 998; opacity: 0;"><img src="/images/home/img_9.jpg"></div><div class="slick-slide" data-slick-index="3" aria-hidden="true" style="width: 0px; position: relative; left: 0px; top: 0px; z-index: 998; opacity: 0;"><img src="/images/home/img_10.jpg"></div><div class="slick-slide" data-slick-index="4" aria-hidden="true" style="width: 0px; position: relative; left: 0px; top: 0px; z-index: 998; opacity: 0;"><img src="/images/home/img_11.jpg"></div></div></div>
    
    
    
    
    <button class="slick-next slick-arrow" aria-label="Next" type="button" style="">Next</button><ul class="slick-dots" style=""><li class="slick-active"><button type="button">1</button></li><li><button type="button">2</button></li><li><button type="button">3</button></li><li><button type="button">4</button></li><li><button type="button">5</button></li></ul></div>
</div>
</div>
</dd>
</dl>
<dl class="faq-box">
<dt>質の高い英語学童保育とリーズナルプライスが両立しているから！<p class="accordion_icon"><span></span><span></span></p></dt>
<dd>
<div class="inner-dd">
<div class="txt">多くの英語学童保育施設は英語の習得時間を確保するためという理由から、週2回以上のコースからしか選択肢がありません。英語学童保育H-CUBEでは通い始めるお子様の心理的なハードルをできるだけ下げ、英語に触れるきっかけになることを願い、週1回から通えてご家庭のお財布にも優しく、他の習い後との両立も可能な週1回コースをご用意しています。</div>
<!-- 02 -->
<div class="img">
    <div class="slick-slider slick-initialized slick-dotted"><button class="slick-prev slick-arrow" aria-label="Previous" type="button" style="">Previous</button>
    <div class="slick-list draggable" style="height: 0px;"><div class="slick-track" style="opacity: 1; width: 0px;"><div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 0px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;"><img src="/images/home/img_12.jpg"></div><div class="slick-slide" data-slick-index="1" aria-hidden="true" style="width: 0px; position: relative; left: 0px; top: 0px; z-index: 998; opacity: 0;"><img src="/images/home/img_13.jpg"></div><div class="slick-slide" data-slick-index="2" aria-hidden="true" style="width: 0px; position: relative; left: 0px; top: 0px; z-index: 998; opacity: 0;"><img src="/images/home/img_14.jpg"></div><div class="slick-slide" data-slick-index="3" aria-hidden="true" style="width: 0px; position: relative; left: 0px; top: 0px; z-index: 998; opacity: 0;"><img src="/images/home/img_15.jpg"></div></div></div>
    
    
    
    <button class="slick-next slick-arrow" aria-label="Next" type="button" style="">Next</button><ul class="slick-dots" style=""><li class="slick-active"><button type="button">1</button></li><li><button type="button">2</button></li><li><button type="button">3</button></li><li><button type="button">4</button></li></ul></div>
</div>
</div>
</dd>
</dl>
<dl class="faq-box">
<dt>長時間のお預かりで共働き家庭の子育てを応援する学童保育型英会話スクールだから！<p class="accordion_icon"><span></span><span></span></p></dt>
<dd>
<div class="inner-dd">
<div class="txt">長時間（1日/最長６時間、1週間/最大30時間、1ヶ月/最大120時間）英語環境でお子様をお預かりすることで、保護者様は安心してお仕事や趣味の活動に専念して頂けます。<br>
英語は小学校低学年以下から開始し、4時間以上の英語環境で週のうち、一定日数を過ごす事で英会話能力は短時間のレッスンや英会話スクールとは比較にならないほど、早く自然に身につくと言われています。<br>
英語学童保育H-CUBEは実践的な英語力が自然と身に付く英語学童保育型英会話スクールでもあります。</div>
<!-- 03 -->
<div class="img">
    <div class="slick-slider slick-initialized slick-dotted"><button class="slick-prev slick-arrow" aria-label="Previous" type="button" style="">Previous</button>
    <div class="slick-list draggable" style="height: 0px;"><div class="slick-track" style="opacity: 1; width: 0px;"><div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 0px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;"><img src="/images/home/img_16.jpg"></div><div class="slick-slide" data-slick-index="1" aria-hidden="true" style="width: 0px; position: relative; left: 0px; top: 0px; z-index: 998; opacity: 0;"><img src="/images/home/img_17.jpg"></div><div class="slick-slide" data-slick-index="2" aria-hidden="true" style="width: 0px; position: relative; left: 0px; top: 0px; z-index: 998; opacity: 0;"><img src="/images/home/img_18.jpg"></div><div class="slick-slide" data-slick-index="3" aria-hidden="true" style="width: 0px; position: relative; left: 0px; top: 0px; z-index: 998; opacity: 0;"><img src="/images/home/img_19.jpg"></div></div></div>
    
    
    
    <button class="slick-next slick-arrow" aria-label="Next" type="button" style="">Next</button><ul class="slick-dots" style=""><li class="slick-active"><button type="button">1</button></li><li><button type="button">2</button></li><li><button type="button">3</button></li><li><button type="button">4</button></li></ul></div>
</div>
</div>
</dd>
</dl>
<dl class="faq-box">
<dt>送迎バスの運行で安心・安全な英語学童保育施設だから！<p class="accordion_icon"><span></span><span></span></p></dt>
<dd>
<div class="inner-dd">
<div class="txt">送迎バスで小学校・保育園までお迎え⇒スクール⇒ご自宅付近の所定ポイントまでお送りします。 <br>
更に英語学童保育H-CUBEでは小学生以上のお子様向けに、バス送迎無しでお預かり回数無制限コース（最大6時間×週5回×4週間＝月最大120時間）を衝撃の月謝29,800円（税別）（1時間単価249円～）でご用意しています。<br>
保護者の方が働いていてバス送迎が必要なご家庭のニーズにも、バス送迎は必要ないから回数無制限で英語力習得に有利な長時間・高回数のお預かりとリーズナブルな料金体系を重視したいご家庭のニーズ、どちらにも対応できる英語学童保育施設です。<br>
<br>
<a href="#bus">バスの送迎ルートはこちら</a>
</div>
<!-- 04 -->
<div class="img">
    <div class="slick-slider slick-initialized slick-dotted"><button class="slick-prev slick-arrow" aria-label="Previous" type="button" style="">Previous</button>
    <div class="slick-list draggable" style="height: 0px;"><div class="slick-track" style="opacity: 1; width: 0px;"><div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 0px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;"><img src="/images/home/img_20.jpg"></div><div class="slick-slide" data-slick-index="1" aria-hidden="true" style="width: 0px; position: relative; left: 0px; top: 0px; z-index: 998; opacity: 0;"><img src="/images/home/img_21.jpg"></div></div></div>
    
    <button class="slick-next slick-arrow" aria-label="Next" type="button" style="">Next</button><ul class="slick-dots" style=""><li class="slick-active"><button type="button">1</button></li><li><button type="button">2</button></li></ul></div>
</div>
</div>
</dd>
</dl>
<dl class="faq-box">
<dt>英検合格も目指せる、英検準会場指定の英語学童保育施設だから！<p class="accordion_icon"><span></span><span></span></p></dt>
<dd>
<div class="inner-dd">
<div class="txt">英語学童保育H-CUBEは長時間の英語環境による、英検取得を目標としたカリキュラムもスケジュールに盛り込んだ英検取得も目指せる英語学童保育施設です。<br>英語学童保育H-CUBEの校舎は「英検準会場」に指定されているため、普段通い慣れた教室で英検の試験を受けることが可能です。</div>
<!-- 05 -->
<div class="img">
    <div class="slick-slider slick-initialized slick-dotted"><button class="slick-prev slick-arrow" aria-label="Previous" type="button" style="">Previous</button>
    <div class="slick-list draggable" style="height: 0px;"><div class="slick-track" style="opacity: 1; width: 0px;"><div class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 0px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;"><img src="/images/home/img_22.jpg"></div><div class="slick-slide" data-slick-index="1" aria-hidden="true" style="width: 0px; position: relative; left: 0px; top: 0px; z-index: 998; opacity: 0;"><img src="/images/home/img_23.jpg"></div><div class="slick-slide" data-slick-index="2" aria-hidden="true" style="width: 0px; position: relative; left: 0px; top: 0px; z-index: 998; opacity: 0;"><img src="/images/home/img_24.jpg"></div><div class="slick-slide" data-slick-index="3" aria-hidden="true" style="width: 0px; position: relative; left: 0px; top: 0px; z-index: 998; opacity: 0;"><img src="/images/home/img_25.jpg"></div></div></div>
    
    
    
    <button class="slick-next slick-arrow" aria-label="Next" type="button" style="">Next</button><ul class="slick-dots" style=""><li class="slick-active"><button type="button">1</button></li><li><button type="button">2</button></li><li><button type="button">3</button></li><li><button type="button">4</button></li></ul></div>
</div>
</div>
</dd>
</dl>
</div>


<!-- jQuery -->

<!-- Slick Slider -->

<style>/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
</style>
<style>@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: 'â';
}
[dir='rtl'] .slick-prev:before
{
    content: 'â';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: 'â';
}
[dir='rtl'] .slick-next:before
{
    content: 'â';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: 'â¢';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}
</style>

		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-top-section elementor-element elementor-element-c38ca14 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="c38ca14" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-9e70ec4" data-id="9e70ec4" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-1fc89c8 elementor-widget elementor-widget-heading" data-id="1fc89c8" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">3つのレッスンポイント</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-0fa2836 elementor-widget elementor-widget-heading" data-id="0fa2836" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Point</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-54a045a elementor-widget elementor-widget-html" data-id="54a045a" data-element_type="widget" data-widget_type="html.default">
				<div class="elementor-widget-container">
			<div class="faq-container">
<dl class="faq-box">
<dt>英語学童保育H-CUBEオリジナルメソッドでグローバルに活躍できる国際人を育成<p class="accordion_icon"><span></span><span></span></p></dt>
<dd>
英語学童保育H-CUBEでは独自メソッドでお子様を指導します。 <br>
環境や立場の異なる人の意見や主張を理解し、英語で自分の考えや意見を積極的に表現し主張できる人を育てる独自メソッドで、日本国内のみならず、世界で活躍できる主体性や発信力を身に付けます。

</dd>
</dl>
<dl class="faq-box">
<dt>ネイティブ講師と日本人バイリンガル講師により初めてのお子様も安心<p class="accordion_icon"><span></span><span></span></p></dt>
<dd>
ネイティブの講師だけではなく、日本人のバイリンガル講師も常勤し、お子様の学習やスクールライフを細かくフォローします。英語に触れるのが初めてのお子様でも安心してご通学頂けます。
</dd>
</dl>
<dl class="faq-box">
<dt>プロフェッショナルな講師によるレッスン<p class="accordion_icon"><span></span><span></span></p></dt>
<dd>
180 時間英語学童保育H‐CUBE のオリジナルメソッドで編成されたトレーニングを終えた学童保育員や英語の指導員が質の高いレッスンを提供します。加えて定期的なトレーニングにより充実したレッスン環境を提供します。
</dd>
</dl>
</div>		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-top-section elementor-element elementor-element-160affe elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="160affe" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-8c82067" data-id="8c82067" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-21e2a37 elementor-widget elementor-widget-heading" data-id="21e2a37" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">お知らせ</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-821a50e elementor-widget elementor-widget-heading" data-id="821a50e" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">News</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-b75b76b elementor-align-center elementor-widget elementor-widget-button" data-id="b75b76b" data-element_type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a href="https://h-cube.academy/category/news/" class="elementor-button-link elementor-button elementor-size-md" role="button">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-text">もっと見る</span>
		</span>
					</a>
		</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-top-section elementor-element elementor-element-ee76f77 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="ee76f77" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-65477bf" data-id="65477bf" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-dcea16a elementor-widget elementor-widget-heading" data-id="dcea16a" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">イベント情報</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-ef039ea elementor-widget elementor-widget-heading" data-id="ef039ea" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Event</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-f6f4938 elementor-align-center elementor-widget elementor-widget-button" data-id="f6f4938" data-element_type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a href="https://h-cube.academy/category/event/" class="elementor-button-link elementor-button elementor-size-md" role="button">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-text">もっと見る</span>
		</span>
					</a>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-d230502 elementor-widget elementor-widget-menu-anchor" data-id="d230502" data-element_type="widget" data-widget_type="menu-anchor.default">
				<div class="elementor-widget-container">
			<style>/*! elementor - v3.6.2 - 04-04-2022 */
body.elementor-page .elementor-widget-menu-anchor{margin-bottom:0}</style>		<div id="reason" class="elementor-menu-anchor"></div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-top-section elementor-element elementor-element-a88f364 elementor-hidden-desktop elementor-hidden-tablet elementor-hidden-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="a88f364" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-42fe058" data-id="42fe058" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-aa306fc elementor-widget elementor-widget-image" data-id="aa306fc" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img width="1024" height="537" src="/images/home/img_26.png" class="attachment-large size-large" alt="バナー" loading="lazy" srcset="assets/images/img_26.png 1024w, https://h-cube.academy/wp/wp-content/uploads/2022/02/banner-300x157.png 300w, https://h-cube.academy/wp/wp-content/uploads/2022/02/banner-768x403.png 768w, https://h-cube.academy/wp/wp-content/uploads/2022/02/banner.png 1296w" sizes="(max-width: 1024px) 100vw, 1024px">															</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-top-section elementor-element elementor-element-2f6a62f elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="2f6a62f" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-245490a" data-id="245490a" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-4053e09 elementor-widget elementor-widget-heading" data-id="4053e09" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">H-CUBEでの過ごし方</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-0338bac elementor-widget elementor-widget-heading" data-id="0338bac" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Movie</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-bfd9429 elementor-widget elementor-widget-text-editor" data-id="bfd9429" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p class="x_p1"><span class="">スクールの雰囲気と一日のスケジュールをご確認頂けます。<br></span><span class="x_s3"><span class="" style="font-family: Helvetica Neue;">※</span>動画は小学生の</span><span class="x_s5">1</span><span class="x_s3">日の過ごし方のご紹介です。</span></p>						</div>
				</div>
				<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-7ab3387 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="7ab3387" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-a2e0fbb" data-id="a2e0fbb" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-270647f elementor-aspect-ratio-169 elementor-widget elementor-widget-video" data-id="270647f" data-element_type="widget" data-settings="{&quot;youtube_url&quot;:&quot;https:\/\/youtube.com\/watch?v=aV5-PHssuew&amp;si=5ue9Rb1zPVUGUhZ-&quot;,&quot;video_type&quot;:&quot;youtube&quot;,&quot;controls&quot;:&quot;yes&quot;,&quot;aspect_ratio&quot;:&quot;169&quot;}" data-widget_type="video.default">
				<div class="elementor-widget-container">
			<style>/*! elementor - v3.6.2 - 04-04-2022 */
.elementor-widget-video .elementor-widget-container{overflow:hidden;-webkit-transform:translateZ(0);transform:translateZ(0)}.elementor-widget-video .elementor-open-inline .elementor-custom-embed-image-overlay{position:absolute;top:0;left:0;width:100%;height:100%;background-size:cover;background-position:50%}.elementor-widget-video .elementor-custom-embed-image-overlay{cursor:pointer;text-align:center}.elementor-widget-video .elementor-custom-embed-image-overlay:hover .elementor-custom-embed-play i{opacity:1}.elementor-widget-video .elementor-custom-embed-image-overlay img{display:block;width:100%}.elementor-widget-video .e-hosted-video .elementor-video{-o-object-fit:cover;object-fit:cover}</style>		<div class="elementor-wrapper elementor-fit-aspect-ratio elementor-open-inline">
			<iframe class="elementor-video" frameborder="0" allowfullscreen="" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" title="H-CUBE ACADEDMY 普段の様子をご紹介！オールイングリッシュの学童　お迎えからお見送りまで：）サイエンス実験も！？" width="640" height="360" src="https://www.youtube.com/embed/aV5-PHssuew?controls=1&amp;rel=0&amp;playsinline=0&amp;modestbranding=0&amp;autoplay=0&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fh-cube.academy&amp;widgetid=1&amp;forigin=https%3A%2F%2Fh-cube.academy%2F&amp;aoriginsup=1&amp;gporigin=https%3A%2F%2Fh-cube.academy%2F&amp;vf=2" id="widget2"></iframe>		</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-top-section elementor-element elementor-element-42d559e elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="42d559e" data-element_type="section" id="bus" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-46fcb90" data-id="46fcb90" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-b260736 elementor-widget elementor-widget-heading" data-id="b260736" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">バスの送迎について</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-25bf65a elementor-widget elementor-widget-heading" data-id="25bf65a" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Bus</h2>		</div>
				</div>
				<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-4a327fb elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="4a327fb" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-5d1ba66" data-id="5d1ba66" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-697758f elementor-widget elementor-widget-image" data-id="697758f" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img width="416" height="416" src="/images/home/img_27.jpg" class="attachment-medium_large size-medium_large" alt="バス画像" loading="lazy" srcset="assets/images/img_27.jpg 416w, https://h-cube.academy/wp/wp-content/uploads/2022/02/bus-300x300.jpg 300w, https://h-cube.academy/wp/wp-content/uploads/2022/02/bus-150x150.jpg 150w" sizes="(max-width: 416px) 100vw, 416px">															</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<div class="elementor-element elementor-element-46e391f elementor-widget elementor-widget-text-editor" data-id="46e391f" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							ご希望の方は専用バスにて<br class="br-sp">小学校もしくは公益学童入所のお子様は<br class="br-sp">学童までお迎えに参ります。<br>
お帰りはスクールの送迎ルート上の<br class="br-sp">ご自宅周辺のバス停までお送り致します。						</div>
				</div>
				<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-d103381 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="d103381" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-5d7c9af" data-id="5d7c9af" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-b978326 elementor-align-center elementor-mobile-align-justify wplightbox elementor-widget elementor-widget-button" data-id="b978326" data-element_type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a href="https://h-cube.academy/wp/wp-content/uploads/2024/07/03_hamasuka.jpg" class="elementor-button-link elementor-button elementor-size-md" role="button">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-text">茅ヶ崎浜須賀校</span>
		</span>
					</a>
		</div>
				</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-b9e1caa" data-id="b9e1caa" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-23f9803 elementor-align-center elementor-mobile-align-justify wplightbox elementor-widget elementor-widget-button" data-id="23f9803" data-element_type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a href="https://h-cube.academy/wp/wp-content/uploads/2024/06/02.jpg" class="elementor-button-link elementor-button elementor-size-md" role="button">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-text">茅ヶ崎ブランチ校</span>
		</span>
					</a>
		</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-top-section elementor-element elementor-element-791619d elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="791619d" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2bcba41" data-id="2bcba41" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-6758926 elementor-widget elementor-widget-heading" data-id="6758926" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">クラス紹介</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-ebe5694 elementor-widget elementor-widget-heading" data-id="ebe5694" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Class</h2>		</div>
				</div>
				<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-c76f341 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="c76f341" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-890267d" data-id="890267d" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-123348a class_tit elementor-widget elementor-widget-heading" data-id="123348a" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Pre<br><span>プレ</span></h2>		</div>
				</div>
				<div class="elementor-element elementor-element-02723cd elementor-widget elementor-widget-heading" data-id="02723cd" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">対象年齢：2歳10か月～</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-c626472 elementor-widget elementor-widget-text-editor" data-id="c626472" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							お母さま、お父さまと離れて初めて体験するファーストステップです。お子様の成長に合わせた活動を通して、本物の<u>英語の音</u>を身に着け、英語のみの環境に自然と慣れていきます。						</div>
				</div>
				<div class="elementor-element elementor-element-bffecb5 elementor-widget elementor-widget-image" data-id="bffecb5" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img width="690" height="340" src="/images/home/img_28.jpg" class="attachment-large size-large" alt="Preイメージ画像" loading="lazy" srcset="assets/images/img_28.jpg 690w, https://h-cube.academy/wp/wp-content/uploads/2022/02/pre_img-300x148.jpg 300w" sizes="(max-width: 690px) 100vw, 690px">															</div>
				</div>
				<div class="elementor-element elementor-element-662bd2c elementor-align-center elementor-widget elementor-widget-button" data-id="662bd2c" data-element_type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a href="https://h-cube.academy/wp/lesson/#pre" class="elementor-button-link elementor-button elementor-size-md" role="button">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-text">もっと見る</span>
		</span>
					</a>
		</div>
				</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-eb894b4" data-id="eb894b4" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-1f708c0 class_tit elementor-widget elementor-widget-heading" data-id="1f708c0" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Kindy<br><span>キンディー</span></h2>		</div>
				</div>
				<div class="elementor-element elementor-element-62f462b elementor-widget elementor-widget-heading" data-id="62f462b" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">対象年齢：3歳～</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-c576106 elementor-widget elementor-widget-text-editor" data-id="c576106" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							プリスクールのセカンドステップとなります。自然に身に着けた音を先生やお友達との活動の中で<u>アウトプット</u>できる環境で過ごします。挑戦する積み重ねが次の自信につながります。						</div>
				</div>
				<div class="elementor-element elementor-element-f75a60b elementor-widget elementor-widget-image" data-id="f75a60b" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img width="690" height="340" src="/images/home/img_29.jpg" class="attachment-large size-large" alt="Kindyイメージ画像" loading="lazy" srcset="assets/images/img_29.jpg 690w, https://h-cube.academy/wp/wp-content/uploads/2022/02/kindy_img-300x148.jpg 300w" sizes="(max-width: 690px) 100vw, 690px">															</div>
				</div>
				<div class="elementor-element elementor-element-78b9414 elementor-align-center elementor-widget elementor-widget-button" data-id="78b9414" data-element_type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a href="https://h-cube.academy/wp/lesson/#kindy" class="elementor-button-link elementor-button elementor-size-md" role="button">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-text">もっと見る</span>
		</span>
					</a>
		</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-9a1c21f elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="9a1c21f" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-f846d8f" data-id="f846d8f" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-d2a43f6 class_tit elementor-widget elementor-widget-heading" data-id="d2a43f6" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Elementary<br><span>エレメンタリー</span></h2>		</div>
				</div>
				<div class="elementor-element elementor-element-b1a7814 elementor-widget elementor-widget-heading" data-id="b1a7814" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">対象年齢：6歳～</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-af7e030 elementor-widget elementor-widget-text-editor" data-id="af7e030" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							日替わりの<u>アクティビティ</u>を通して、使用するために必要な言語力を養っていきます。また語学力だけではなく文化の違いを肌で学べる環境の中でネイティブの講師とのやり取りを大切にしてます。
学校卒業までに<u>英検３級</u>を目指します。楽しいからわかったへの成果はお子様の最大のモチベーションとなります。英検の準備から英検受験までしっかりサポートしていきます。						</div>
				</div>
				<div class="elementor-element elementor-element-7f99ee8 elementor-widget elementor-widget-image" data-id="7f99ee8" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img width="690" height="340" src="/images/home/img_30.jpg" class="attachment-large size-large" alt="ELEイメージ画像" loading="lazy" srcset="assets/images/img_30.jpg 690w, https://h-cube.academy/wp/wp-content/uploads/2022/02/ele_img-300x148.jpg 300w" sizes="(max-width: 690px) 100vw, 690px">															</div>
				</div>
				<div class="elementor-element elementor-element-ca0b6f6 elementor-align-center elementor-widget elementor-widget-button" data-id="ca0b6f6" data-element_type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a href="https://h-cube.academy/wp/lesson/#ele" class="elementor-button-link elementor-button elementor-size-md" role="button">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-text">もっと見る</span>
		</span>
					</a>
		</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-top-section elementor-element elementor-element-7251825 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="7251825" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-cebfda3" data-id="cebfda3" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-d5743ad elementor-widget elementor-widget-heading" data-id="d5743ad" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">ご挨拶</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-c92637a elementor-widget elementor-widget-heading" data-id="c92637a" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Message</h2>		</div>
				</div>
				<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-256be9e elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="256be9e" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-c01cb90" data-id="c01cb90" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-b58c1b7 elementor-widget elementor-widget-image" data-id="b58c1b7" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img width="768" height="768" src="/images/home/img_31.jpg" class="attachment-medium_large size-medium_large" alt="" loading="lazy" srcset="assets/images/img_31.jpg 768w, https://h-cube.academy/wp/wp-content/uploads/2022/02/prof_01-1-300x300.jpg 300w, https://h-cube.academy/wp/wp-content/uploads/2022/02/prof_01-1-150x150.jpg 150w, https://h-cube.academy/wp/wp-content/uploads/2022/02/prof_01-1.jpg 825w" sizes="(max-width: 768px) 100vw, 768px">															</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-5a2ce47" data-id="5a2ce47" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-ca62066 elementor-widget elementor-widget-heading" data-id="ca62066" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h3 class="elementor-heading-title elementor-size-default">ゼネラルマネージャー 清家陽子</h3>		</div>
				</div>
				<div class="elementor-element elementor-element-e890362 elementor-widget elementor-widget-text-editor" data-id="e890362" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>インターネットの普及によりより海外との接点が身近になり、英語で情報を取ることが当たり前の時代になりました。<br>ことばは人間の思考、知的活動、生活全ての基盤となるものです。<br>英語を使いこなすことは未来の選択を増やしお子様の人生をより豊かなものにします。<br>H-CUBEでは英語習得の先にあるお子さまの将来の可能性を広げ<u>グローバルな未来への道を切り拓くお手伝いをします。</u></p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-top-section elementor-element elementor-element-6dd8e26 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="6dd8e26" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-0b22fa7" data-id="0b22fa7" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-071a52c elementor-widget elementor-widget-heading" data-id="071a52c" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">教室紹介</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-c44ac59 elementor-widget elementor-widget-heading" data-id="c44ac59" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">School</h2>		</div>
				</div>
				<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-6e4bf60 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="6e4bf60" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-fcbb968" data-id="fcbb968" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-ebe86cd elementor-widget elementor-widget-heading" data-id="ebe86cd" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">英語学童保育H-CUBE 茅ケ崎浜須賀校</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-a43dc53 elementor-widget elementor-widget-text-editor" data-id="a43dc53" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>住所：茅ヶ崎市浜須賀2-16 コンフォールHINOMOTO#2<br>電話：0467-53-8295</p>						</div>
				</div>
				<div class="elementor-element elementor-element-2769760 elementor-hidden-desktop elementor-hidden-tablet elementor-widget elementor-widget-image" data-id="2769760" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img width="877" height="1024" src="https://h-cube.academy/wp/wp-content/uploads/2023/04/hcubehamasuka外観-scaled-e1680335836423-877x1024.jpg" class="attachment-large size-large" alt="" loading="lazy" srcset="https://h-cube.academy/wp/wp-content/uploads/2023/04/hcubehamasuka外観-scaled-e1680335836423-877x1024.jpg 877w, https://h-cube.academy/wp/wp-content/uploads/2023/04/hcubehamasuka外観-scaled-e1680335836423-257x300.jpg 257w, https://h-cube.academy/wp/wp-content/uploads/2023/04/hcubehamasuka外観-scaled-e1680335836423-768x897.jpg 768w, https://h-cube.academy/wp/wp-content/uploads/2023/04/hcubehamasuka外観-scaled-e1680335836423-1316x1536.jpg 1316w, https://h-cube.academy/wp/wp-content/uploads/2023/04/hcubehamasuka外観-scaled-e1680335836423.jpg 1721w" sizes="(max-width: 877px) 100vw, 877px">															</div>
				</div>
				<div class="elementor-element elementor-element-9bf9d31 elementor-align-justify elementor-widget elementor-widget-button" data-id="9bf9d31" data-element_type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a href="https://h-cube.academy/wp/school/#hamasuka" class="elementor-button-link elementor-button elementor-size-md" role="button">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-text">詳しくはこちら</span>
		</span>
					</a>
		</div>
				</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-8330f5e" data-id="8330f5e" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-c309c1b elementor-hidden-mobile elementor-widget elementor-widget-image" data-id="c309c1b" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img width="877" height="1024" src="https://h-cube.academy/wp/wp-content/uploads/2023/04/hcubehamasuka外観-scaled-e1680335836423-877x1024.jpg" class="attachment-large size-large" alt="" loading="lazy" srcset="https://h-cube.academy/wp/wp-content/uploads/2023/04/hcubehamasuka外観-scaled-e1680335836423-877x1024.jpg 877w, https://h-cube.academy/wp/wp-content/uploads/2023/04/hcubehamasuka外観-scaled-e1680335836423-257x300.jpg 257w, https://h-cube.academy/wp/wp-content/uploads/2023/04/hcubehamasuka外観-scaled-e1680335836423-768x897.jpg 768w, https://h-cube.academy/wp/wp-content/uploads/2023/04/hcubehamasuka外観-scaled-e1680335836423-1316x1536.jpg 1316w, https://h-cube.academy/wp/wp-content/uploads/2023/04/hcubehamasuka外観-scaled-e1680335836423.jpg 1721w" sizes="(max-width: 877px) 100vw, 877px">															</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-1472479 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="1472479" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-8edf175" data-id="8edf175" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-3838a34 elementor-widget elementor-widget-heading" data-id="3838a34" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">英語学童保育H-CUBE 茅ヶ崎ブランチ校</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-c8ba18f elementor-widget elementor-widget-text-editor" data-id="c8ba18f" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>住所：神奈川県茅ケ崎市浜見平3-1 BRANCH茅ケ崎2<br>電話：0467-84-9215</p>						</div>
				</div>
				<div class="elementor-element elementor-element-77ec3b0 elementor-hidden-desktop elementor-hidden-tablet elementor-widget elementor-widget-image" data-id="77ec3b0" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img width="1000" height="667" src="/images/home/img_33.jpg" class="attachment-large size-large" alt="H-CUBE 茅ヶ崎ブランチ校" loading="lazy" srcset="assets/images/img_33.jpg 1000w, https://h-cube.academy/wp/wp-content/uploads/2024/05/branch_240531-300x200.jpg 300w, https://h-cube.academy/wp/wp-content/uploads/2024/05/branch_240531-768x512.jpg 768w" sizes="(max-width: 1000px) 100vw, 1000px">															</div>
				</div>
				<div class="elementor-element elementor-element-1182255 elementor-align-justify elementor-widget elementor-widget-button" data-id="1182255" data-element_type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a href="https://h-cube.academy/wp/school/#chigasaki" class="elementor-button-link elementor-button elementor-size-md" role="button">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-text">詳しくはこちら</span>
		</span>
					</a>
		</div>
				</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-6d5e901" data-id="6d5e901" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-0e1df2e elementor-hidden-mobile elementor-widget elementor-widget-image" data-id="0e1df2e" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img width="1000" height="667" src="/images/home/img_33.jpg" class="attachment-large size-large" alt="H-CUBE 茅ヶ崎ブランチ校" loading="lazy" srcset="assets/images/img_33.jpg 1000w, https://h-cube.academy/wp/wp-content/uploads/2024/05/branch_240531-300x200.jpg 300w, https://h-cube.academy/wp/wp-content/uploads/2024/05/branch_240531-768x512.jpg 768w" sizes="(max-width: 1000px) 100vw, 1000px">															</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-296b494 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="296b494" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-1af1b56" data-id="1af1b56" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-3d89c01 elementor-widget elementor-widget-heading" data-id="3d89c01" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">鎌倉校 English studio</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-cf5e33d elementor-widget elementor-widget-text-editor" data-id="cf5e33d" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>神奈川県鎌倉市山崎1330-39<br>0467-46-0505</p>						</div>
				</div>
				<div class="elementor-element elementor-element-75fe87a elementor-hidden-desktop elementor-hidden-tablet elementor-widget elementor-widget-image" data-id="75fe87a" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img width="690" height="436" src="/images/home/img_34.jpg" class="attachment-large size-large" alt="鎌倉校" loading="lazy" srcset="assets/images/img_34.jpg 690w, https://h-cube.academy/wp/wp-content/uploads/2022/02/school_03-300x190.jpg 300w" sizes="(max-width: 690px) 100vw, 690px">															</div>
				</div>
				<div class="elementor-element elementor-element-7d4a191 elementor-align-justify elementor-widget elementor-widget-button" data-id="7d4a191" data-element_type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a href="https://xn--28j4cybzb0z4d0e4851bnfb927fpre.com/hcube/" target="_blank" class="elementor-button-link elementor-button elementor-size-md" role="button">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-text">詳しくはこちら</span>
		</span>
					</a>
		</div>
				</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-c03e40e" data-id="c03e40e" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-7d68338 elementor-hidden-mobile elementor-widget elementor-widget-image" data-id="7d68338" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img width="690" height="436" src="/images/home/img_34.jpg" class="attachment-large size-large" alt="鎌倉校" loading="lazy" srcset="assets/images/img_34.jpg 690w, https://h-cube.academy/wp/wp-content/uploads/2022/02/school_03-300x190.jpg 300w" sizes="(max-width: 690px) 100vw, 690px">															</div>
				</div>
					</div>
		</div>
							</div>
		</section>
					</div>
		</div>
							</div>
		</section>
							</div>
		
		
		
	</div><!-- .entry-content .clear -->

	
	
</article><!-- #post-## -->

			</main><!-- #main -->
			

</Layout>
