---
import Layout from '../../../layouts/Layout.astro';
import '../../../styles/about.css';
---
<Layout title="英語学童保育H-CUBEについて - H-CUBE ACADEMY" description="英語学童保育H-CUBEについてのご案内です。" bodyClass="page-id-402 elementor-page-402">

<div data-elementor-type="wp-page" data-elementor-id="402" class="elementor elementor-402">
									<section class="has_eae_slider elementor-section elementor-top-section elementor-element elementor-element-160affe elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="160affe" data-element_type="section" id="gaiyou" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-8c82067" data-id="8c82067" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-21e2a37 elementor-widget elementor-widget-heading" data-id="21e2a37" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">英語を話せることが、ゴールではありません。<br>
H-CUBE は、その先を目指しています。</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-9d95a1a elementor-widget elementor-widget-text-editor" data-id="9d95a1a" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
			<style>/*! elementor - v3.6.2 - 04-04-2022 */
.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap{background-color:#818a91;color:#fff}.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap{color:#818a91;border:3px solid;background-color:transparent}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap{margin-top:8px}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter{width:1em;height:1em}.elementor-widget-text-editor .elementor-drop-cap{float:left;text-align:center;line-height:1;font-size:50px}.elementor-widget-text-editor .elementor-drop-cap-letter{display:inline-block}</style>				<p>英語を覚えるには、継続的な学びが必要です。英語を学ぶ子どもにとっても、そのご家族にとっても、時には忍耐が必要となり、長い道のりになることは言うまでもありません。<br>特に幼少期の子どもは、楽しさや興味を感じることができないと、学習意欲そのものが失せてしまいます。そこで H-CUBE では、幼少期の子どもが「英語って楽しい、もっと話したい」と思える環境づくりを大切にしています。<br>また、年齢が上がった子や、英語力がある程度身についてきた子には、英語を身につけることがゴールではない、ということを知ってほしいとも思っています。英語そのものを身につけることが目的ではなく、新しい知識や情報を得るための手段として英語を学ぶのであれば、自分の好きなこと、やりたいことのために英語を話せるようになろうと、 子どもは努力を惜しまないからです。<br>H-CUBE ではこのような考えのもとに、文部科学省で推奨されているアクティブラー ニング（主体的・対話的で深く学ぶ）を取り入れ、子どもが興味を持つような課題を与 えていきます。そして、先生や友だちと協力しながら英語を修得していき、英語を継続的に学んでいける環境を用意しています。<br>しかし、習い事を増やすことは、ご家族にとって時には負担となる場合もあるでしょう。 私たちはその負担をできるだけ軽くし、ご家族が安心して子どもを H-CUBE へ通わせ ることができるよう、ご家族のフォローにも力を注いでいきたいと考えています。 <br>英語を使いこなせば、子どもの人生は、より豊かになる。英語を使いこなせば、生きる力が身につく。<br>私たちは、子どもたちの未来を、人生を豊かにするお手伝いをしています。</p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-top-section elementor-element elementor-element-a0eacf3 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="a0eacf3" data-element_type="section" id="kansentaisaku" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-1b2961e" data-id="1b2961e" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-dff68cc elementor-widget elementor-widget-heading" data-id="dff68cc" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">感染拡大防止策</h2>		</div>
				</div>
				<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-222a8aa elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="222a8aa" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-758623b" data-id="758623b" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-dc7fcd7 elementor-widget elementor-widget-heading" data-id="dc7fcd7" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h3 class="elementor-heading-title elementor-size-default">ご利用のお客様へのお願い</h3>		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-aed2985 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="aed2985" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-9e4b1d0" data-id="9e4b1d0" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-0ba3a18 elementor-widget elementor-widget-text-editor" data-id="0ba3a18" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>●感染症抑制の観点から、以下に該当する方は施設へのご来校・ご利用をお断りいたします。</p><p>・咳やくしゃみなど風邪の症状が続いている方。（軽い症状の方も含みます）<br>・過去48時間以内に熱があった方。<br>・強いだるさ（倦怠感）や息苦しさがある方。<br>・咳、痰、胸部不快感のある方。<br>・味覚・嗅覚に少しでも違和感のある方。<br>・新型コロナウィルス感染症陽性とされた者との濃厚接触がある方。<br>・身内や身近な接触者に上記の症状がみられる方、該当する点がある方。<br>・過去14日以内に、政府から入国制限、入国後の観察期間を必要と発表されている国・地域への渡航、並びに当該在住者との濃厚接触がある方。</p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-742472c elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="742472c" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-cf531ee" data-id="cf531ee" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-e2468d4 elementor-widget elementor-widget-image" data-id="e2468d4" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
															<img width="1024" height="361" src="/images/about/img_2.png" class="attachment-large size-large" alt="" loading="lazy" srcset="assets/images/img_2.png 1024w, https://h-cube.academy/wp/wp-content/uploads/2022/02/notice_footer-300x106.png 300w, https://h-cube.academy/wp/wp-content/uploads/2022/02/notice_footer-768x271.png 768w, https://h-cube.academy/wp/wp-content/uploads/2022/02/notice_footer-1536x542.png 1536w, https://h-cube.academy/wp/wp-content/uploads/2022/02/notice_footer.png 1734w" sizes="(max-width: 1024px) 100vw, 1024px">															</div>
				</div>
					</div>
		</div>
							</div>
		</section>
					</div>
		</div>
							</div>
		</section>
							</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
						</div>
					</main><!-- #main -->
			

</Layout>
