---
import Layout from '../../layouts/Layout.astro';
import '../../styles/faq.css';
---
<Layout title="FAQ - H-CUBE ACADEMY" description="H-CUBE ACADEMYに関するよくある質問をまとめました。" pageTitle="FAQ" bodyClass="page-id-666 elementor-page-666">

<div data-elementor-type="wp-page" data-elementor-id="666" class="elementor elementor-666">
									<section class="has_eae_slider elementor-section elementor-top-section elementor-element elementor-element-80facc6 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="80facc6" data-element_type="section" id="chigasaki" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-d307fcb" data-id="d307fcb" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-bde6574 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="bde6574" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-ac4c786" data-id="ac4c786" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-7cae9d7 elementor-view-default elementor-widget elementor-widget-icon" data-id="7cae9d7" data-element_type="widget" data-widget_type="icon.default">
				<div class="elementor-widget-container">
					<div class="elementor-icon-wrapper">
			<div class="elementor-icon">
			<svg xmlns="http://www.w3.org/2000/svg" width="66" height="66" viewBox="0 0 66 66"><g id="q_icon" transform="translate(-198.5 -394)"><circle id="楕円形_312" data-name="楕円形 312" cx="33" cy="33" r="33" transform="translate(198.5 394)" fill="#c90061"></circle><path id="q_icon-2" data-name="q_icon" d="M6.589,1.782a10.445,10.445,0,0,1-2.156.242c-1.3,0-1.8-.33-2.134-1.166L2.013.022c3.212-.77,5.3-3.828,5.3-8.558,0-5.632-2.926-8.8-7.3-8.8-4.356,0-7.326,3.212-7.326,8.844,0,5.3,2.64,8.448,6.6,8.734l.484,1.3c.7,1.914,1.65,2.552,4.18,2.552a15.766,15.766,0,0,0,2.332-.154ZM.011-15.026c2.508,0,4.158,2.134,4.158,6.512,0,4.334-1.65,6.556-4.158,6.556s-4.18-2.222-4.18-6.556C-4.169-12.892-2.5-15.026.011-15.026Z" transform="translate(231.5 435)" fill="#fff"></path></g></svg>			</div>
		</div>
				</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-20a5bc8" data-id="20a5bc8" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-e57cd71 elementor-widget elementor-widget-text-editor" data-id="e57cd71" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
			<style>/*! elementor - v3.6.2 - 04-04-2022 */
.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap{background-color:#818a91;color:#fff}.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap{color:#818a91;border:3px solid;background-color:transparent}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap{margin-top:8px}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter{width:1em;height:1em}.elementor-widget-text-editor .elementor-drop-cap{float:left;text-align:center;line-height:1;font-size:50px}.elementor-widget-text-editor .elementor-drop-cap-letter{display:inline-block}</style>				<p>【入会】入会条件はありますか？</p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-33164a6 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="33164a6" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-d294767" data-id="d294767" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-86632ec elementor-view-default elementor-widget elementor-widget-icon" data-id="86632ec" data-element_type="widget" data-widget_type="icon.default">
				<div class="elementor-widget-container">
					<div class="elementor-icon-wrapper">
			<div class="elementor-icon">
			<svg xmlns="http://www.w3.org/2000/svg" width="66" height="66" viewBox="0 0 66 66"><g id="a_icon" transform="translate(-198.5 -485)"><g id="楕円形_320" data-name="楕円形 320" transform="translate(198.5 485)" fill="#fff" stroke="#c90061" stroke-width="3"><circle cx="33" cy="33" r="33" stroke="none"></circle><circle cx="33" cy="33" r="31.5" fill="none"></circle></g><path id="パス_3421" data-name="パス 3421" d="M1.782-17.028H-1.8L-7.04.044h2.816L-2.75-4.972H2.486L3.938.044h3.1Zm.176,9.856h-4.18l.924-3.476c.374-1.32.682-2.552,1.056-4.18h.2c.374,1.606.638,2.86,1.012,4.2Z" transform="translate(231.5 526)" fill="#c90061"></path></g></svg>			</div>
		</div>
				</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-f34f934" data-id="f34f934" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-56a6bc4 elementor-widget elementor-widget-text-editor" data-id="56a6bc4" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>2歳半から小学6年生までのお子さまになります。<br>※重度のアレルギーをお持ちの方はご相談ください。<br>送迎対象外小学校へ通学・入学予定の方も保護者様が送迎可能な場合はご入会いただけます。</p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<div class="elementor-element elementor-element-6c9c1e5 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="6c9c1e5" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
			<style>/*! elementor - v3.6.2 - 04-04-2022 */
.elementor-widget-divider{--divider-border-style:none;--divider-border-width:1px;--divider-color:#2c2c2c;--divider-icon-size:20px;--divider-element-spacing:10px;--divider-pattern-height:24px;--divider-pattern-size:20px;--divider-pattern-url:none;--divider-pattern-repeat:repeat-x}.elementor-widget-divider .elementor-divider{display:-webkit-box;display:-ms-flexbox;display:flex}.elementor-widget-divider .elementor-divider__text{font-size:15px;line-height:1;max-width:95%}.elementor-widget-divider .elementor-divider__element{margin:0 var(--divider-element-spacing);-ms-flex-negative:0;flex-shrink:0}.elementor-widget-divider .elementor-icon{font-size:var(--divider-icon-size)}.elementor-widget-divider .elementor-divider-separator{display:-webkit-box;display:-ms-flexbox;display:flex;margin:0;direction:ltr}.elementor-widget-divider--view-line_icon .elementor-divider-separator,.elementor-widget-divider--view-line_text .elementor-divider-separator{-webkit-box-align:center;-ms-flex-align:center;align-items:center}.elementor-widget-divider--view-line_icon .elementor-divider-separator:after,.elementor-widget-divider--view-line_icon .elementor-divider-separator:before,.elementor-widget-divider--view-line_text .elementor-divider-separator:after,.elementor-widget-divider--view-line_text .elementor-divider-separator:before{display:block;content:"";border-bottom:0;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;border-top:var(--divider-border-width) var(--divider-border-style) var(--divider-color)}.elementor-widget-divider--element-align-left .elementor-divider .elementor-divider-separator>.elementor-divider__svg:first-of-type{-webkit-box-flex:0;-ms-flex-positive:0;flex-grow:0;-ms-flex-negative:100;flex-shrink:100}.elementor-widget-divider--element-align-left .elementor-divider-separator:before{content:none}.elementor-widget-divider--element-align-left .elementor-divider__element{margin-left:0}.elementor-widget-divider--element-align-right .elementor-divider .elementor-divider-separator>.elementor-divider__svg:last-of-type{-webkit-box-flex:0;-ms-flex-positive:0;flex-grow:0;-ms-flex-negative:100;flex-shrink:100}.elementor-widget-divider--element-align-right .elementor-divider-separator:after{content:none}.elementor-widget-divider--element-align-right .elementor-divider__element{margin-right:0}.elementor-widget-divider:not(.elementor-widget-divider--view-line_text):not(.elementor-widget-divider--view-line_icon) .elementor-divider-separator{border-top:var(--divider-border-width) var(--divider-border-style) var(--divider-color)}.elementor-widget-divider--separator-type-pattern{--divider-border-style:none}.elementor-widget-divider--separator-type-pattern.elementor-widget-divider--view-line .elementor-divider-separator,.elementor-widget-divider--separator-type-pattern:not(.elementor-widget-divider--view-line) .elementor-divider-separator:after,.elementor-widget-divider--separator-type-pattern:not(.elementor-widget-divider--view-line) .elementor-divider-separator:before,.elementor-widget-divider--separator-type-pattern:not([class*=elementor-widget-divider--view]) .elementor-divider-separator{width:100%;min-height:var(--divider-pattern-height);-webkit-mask-size:var(--divider-pattern-size) 100%;mask-size:var(--divider-pattern-size) 100%;-webkit-mask-repeat:var(--divider-pattern-repeat);mask-repeat:var(--divider-pattern-repeat);background-color:var(--divider-color);-webkit-mask-image:var(--divider-pattern-url);mask-image:var(--divider-pattern-url)}.elementor-widget-divider--no-spacing{--divider-pattern-size:auto}.elementor-widget-divider--bg-round{--divider-pattern-repeat:round}.rtl .elementor-widget-divider .elementor-divider__text{direction:rtl}</style>		<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-top-section elementor-element elementor-element-2f8ac41 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="2f8ac41" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-78cb09c" data-id="78cb09c" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-1027248 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="1027248" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-6b77301" data-id="6b77301" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-d2c8c54 elementor-view-default elementor-widget elementor-widget-icon" data-id="d2c8c54" data-element_type="widget" data-widget_type="icon.default">
				<div class="elementor-widget-container">
					<div class="elementor-icon-wrapper">
			<div class="elementor-icon">
			<svg xmlns="http://www.w3.org/2000/svg" width="66" height="66" viewBox="0 0 66 66"><g id="q_icon" transform="translate(-198.5 -394)"><circle id="楕円形_312" data-name="楕円形 312" cx="33" cy="33" r="33" transform="translate(198.5 394)" fill="#c90061"></circle><path id="q_icon-2" data-name="q_icon" d="M6.589,1.782a10.445,10.445,0,0,1-2.156.242c-1.3,0-1.8-.33-2.134-1.166L2.013.022c3.212-.77,5.3-3.828,5.3-8.558,0-5.632-2.926-8.8-7.3-8.8-4.356,0-7.326,3.212-7.326,8.844,0,5.3,2.64,8.448,6.6,8.734l.484,1.3c.7,1.914,1.65,2.552,4.18,2.552a15.766,15.766,0,0,0,2.332-.154ZM.011-15.026c2.508,0,4.158,2.134,4.158,6.512,0,4.334-1.65,6.556-4.158,6.556s-4.18-2.222-4.18-6.556C-4.169-12.892-2.5-15.026.011-15.026Z" transform="translate(231.5 435)" fill="#fff"></path></g></svg>			</div>
		</div>
				</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-9c147a4" data-id="9c147a4" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-9ee19da elementor-widget elementor-widget-text-editor" data-id="9ee19da" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>【入会】年度、学期の途中でも入会可能ですか？</p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-42706e8 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="42706e8" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-4724033" data-id="4724033" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-3faa7a7 elementor-view-default elementor-widget elementor-widget-icon" data-id="3faa7a7" data-element_type="widget" data-widget_type="icon.default">
				<div class="elementor-widget-container">
					<div class="elementor-icon-wrapper">
			<div class="elementor-icon">
			<svg xmlns="http://www.w3.org/2000/svg" width="66" height="66" viewBox="0 0 66 66"><g id="a_icon" transform="translate(-198.5 -485)"><g id="楕円形_320" data-name="楕円形 320" transform="translate(198.5 485)" fill="#fff" stroke="#c90061" stroke-width="3"><circle cx="33" cy="33" r="33" stroke="none"></circle><circle cx="33" cy="33" r="31.5" fill="none"></circle></g><path id="パス_3421" data-name="パス 3421" d="M1.782-17.028H-1.8L-7.04.044h2.816L-2.75-4.972H2.486L3.938.044h3.1Zm.176,9.856h-4.18l.924-3.476c.374-1.32.682-2.552,1.056-4.18h.2c.374,1.606.638,2.86,1.012,4.2Z" transform="translate(231.5 526)" fill="#c90061"></path></g></svg>			</div>
		</div>
				</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-8a0a83e" data-id="8a0a83e" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-b5afb80 elementor-widget elementor-widget-text-editor" data-id="b5afb80" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>ご希望の曜日に空席がある限り、いつでもご入会か可能です。空き状況に関してはスクール迄ご連絡下さい。</p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<div class="elementor-element elementor-element-29afc82 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="29afc82" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-top-section elementor-element elementor-element-4d19aa5 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="4d19aa5" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-575397c" data-id="575397c" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-bd38694 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="bd38694" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-bda772a" data-id="bda772a" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-b49df56 elementor-view-default elementor-widget elementor-widget-icon" data-id="b49df56" data-element_type="widget" data-widget_type="icon.default">
				<div class="elementor-widget-container">
					<div class="elementor-icon-wrapper">
			<div class="elementor-icon">
			<svg xmlns="http://www.w3.org/2000/svg" width="66" height="66" viewBox="0 0 66 66"><g id="q_icon" transform="translate(-198.5 -394)"><circle id="楕円形_312" data-name="楕円形 312" cx="33" cy="33" r="33" transform="translate(198.5 394)" fill="#c90061"></circle><path id="q_icon-2" data-name="q_icon" d="M6.589,1.782a10.445,10.445,0,0,1-2.156.242c-1.3,0-1.8-.33-2.134-1.166L2.013.022c3.212-.77,5.3-3.828,5.3-8.558,0-5.632-2.926-8.8-7.3-8.8-4.356,0-7.326,3.212-7.326,8.844,0,5.3,2.64,8.448,6.6,8.734l.484,1.3c.7,1.914,1.65,2.552,4.18,2.552a15.766,15.766,0,0,0,2.332-.154ZM.011-15.026c2.508,0,4.158,2.134,4.158,6.512,0,4.334-1.65,6.556-4.158,6.556s-4.18-2.222-4.18-6.556C-4.169-12.892-2.5-15.026.011-15.026Z" transform="translate(231.5 435)" fill="#fff"></path></g></svg>			</div>
		</div>
				</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-f135b7f" data-id="f135b7f" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-397ad0f elementor-widget elementor-widget-text-editor" data-id="397ad0f" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>【入会】共働きではないのですが通わせることは出来ますか？</p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-5c71552 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="5c71552" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-b529eba" data-id="b529eba" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-009b7fd elementor-view-default elementor-widget elementor-widget-icon" data-id="009b7fd" data-element_type="widget" data-widget_type="icon.default">
				<div class="elementor-widget-container">
					<div class="elementor-icon-wrapper">
			<div class="elementor-icon">
			<svg xmlns="http://www.w3.org/2000/svg" width="66" height="66" viewBox="0 0 66 66"><g id="a_icon" transform="translate(-198.5 -485)"><g id="楕円形_320" data-name="楕円形 320" transform="translate(198.5 485)" fill="#fff" stroke="#c90061" stroke-width="3"><circle cx="33" cy="33" r="33" stroke="none"></circle><circle cx="33" cy="33" r="31.5" fill="none"></circle></g><path id="パス_3421" data-name="パス 3421" d="M1.782-17.028H-1.8L-7.04.044h2.816L-2.75-4.972H2.486L3.938.044h3.1Zm.176,9.856h-4.18l.924-3.476c.374-1.32.682-2.552,1.056-4.18h.2c.374,1.606.638,2.86,1.012,4.2Z" transform="translate(231.5 526)" fill="#c90061"></path></g></svg>			</div>
		</div>
				</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-d165e2c" data-id="d165e2c" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-e86b247 elementor-widget elementor-widget-text-editor" data-id="e86b247" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>もちろんです。習い事の一つとして曜日を決めてご通学できます。</p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<div class="elementor-element elementor-element-6305c2b elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="6305c2b" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-top-section elementor-element elementor-element-2e8ba72 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="2e8ba72" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-48de14a" data-id="48de14a" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-6656620 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="6656620" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-773a06b" data-id="773a06b" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-9edeef1 elementor-view-default elementor-widget elementor-widget-icon" data-id="9edeef1" data-element_type="widget" data-widget_type="icon.default">
				<div class="elementor-widget-container">
					<div class="elementor-icon-wrapper">
			<div class="elementor-icon">
			<svg xmlns="http://www.w3.org/2000/svg" width="66" height="66" viewBox="0 0 66 66"><g id="q_icon" transform="translate(-198.5 -394)"><circle id="楕円形_312" data-name="楕円形 312" cx="33" cy="33" r="33" transform="translate(198.5 394)" fill="#c90061"></circle><path id="q_icon-2" data-name="q_icon" d="M6.589,1.782a10.445,10.445,0,0,1-2.156.242c-1.3,0-1.8-.33-2.134-1.166L2.013.022c3.212-.77,5.3-3.828,5.3-8.558,0-5.632-2.926-8.8-7.3-8.8-4.356,0-7.326,3.212-7.326,8.844,0,5.3,2.64,8.448,6.6,8.734l.484,1.3c.7,1.914,1.65,2.552,4.18,2.552a15.766,15.766,0,0,0,2.332-.154ZM.011-15.026c2.508,0,4.158,2.134,4.158,6.512,0,4.334-1.65,6.556-4.158,6.556s-4.18-2.222-4.18-6.556C-4.169-12.892-2.5-15.026.011-15.026Z" transform="translate(231.5 435)" fill="#fff"></path></g></svg>			</div>
		</div>
				</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-bb95faa" data-id="bb95faa" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-6622108 elementor-widget elementor-widget-text-editor" data-id="6622108" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>【プログラム】英語が全く初めてですが大丈夫でしょうか？</p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-9f318e8 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="9f318e8" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-1271e5d" data-id="1271e5d" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-4cf6a18 elementor-view-default elementor-widget elementor-widget-icon" data-id="4cf6a18" data-element_type="widget" data-widget_type="icon.default">
				<div class="elementor-widget-container">
					<div class="elementor-icon-wrapper">
			<div class="elementor-icon">
			<svg xmlns="http://www.w3.org/2000/svg" width="66" height="66" viewBox="0 0 66 66"><g id="a_icon" transform="translate(-198.5 -485)"><g id="楕円形_320" data-name="楕円形 320" transform="translate(198.5 485)" fill="#fff" stroke="#c90061" stroke-width="3"><circle cx="33" cy="33" r="33" stroke="none"></circle><circle cx="33" cy="33" r="31.5" fill="none"></circle></g><path id="パス_3421" data-name="パス 3421" d="M1.782-17.028H-1.8L-7.04.044h2.816L-2.75-4.972H2.486L3.938.044h3.1Zm.176,9.856h-4.18l.924-3.476c.374-1.32.682-2.552,1.056-4.18h.2c.374,1.606.638,2.86,1.012,4.2Z" transform="translate(231.5 526)" fill="#c90061"></path></g></svg>			</div>
		</div>
				</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-e782f57" data-id="e782f57" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-1451517 elementor-widget elementor-widget-text-editor" data-id="1451517" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>ネイティブスタッフとバイリンガルスタッフがお子さまの個性やペースに合わせて。楽しくストレスなくアクティビティに参加できるようサポートいたします。<br>また海外での子育て経験もあるベテランのスタッフがご家庭での英語環境の作り方などもアドバイスも致します。</p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<div class="elementor-element elementor-element-3efe819 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="3efe819" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-top-section elementor-element elementor-element-85ad76a elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="85ad76a" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-698d985" data-id="698d985" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-6a2cbff elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="6a2cbff" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-d162d5a" data-id="d162d5a" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-e500eab elementor-view-default elementor-widget elementor-widget-icon" data-id="e500eab" data-element_type="widget" data-widget_type="icon.default">
				<div class="elementor-widget-container">
					<div class="elementor-icon-wrapper">
			<div class="elementor-icon">
			<svg xmlns="http://www.w3.org/2000/svg" width="66" height="66" viewBox="0 0 66 66"><g id="q_icon" transform="translate(-198.5 -394)"><circle id="楕円形_312" data-name="楕円形 312" cx="33" cy="33" r="33" transform="translate(198.5 394)" fill="#c90061"></circle><path id="q_icon-2" data-name="q_icon" d="M6.589,1.782a10.445,10.445,0,0,1-2.156.242c-1.3,0-1.8-.33-2.134-1.166L2.013.022c3.212-.77,5.3-3.828,5.3-8.558,0-5.632-2.926-8.8-7.3-8.8-4.356,0-7.326,3.212-7.326,8.844,0,5.3,2.64,8.448,6.6,8.734l.484,1.3c.7,1.914,1.65,2.552,4.18,2.552a15.766,15.766,0,0,0,2.332-.154ZM.011-15.026c2.508,0,4.158,2.134,4.158,6.512,0,4.334-1.65,6.556-4.158,6.556s-4.18-2.222-4.18-6.556C-4.169-12.892-2.5-15.026.011-15.026Z" transform="translate(231.5 435)" fill="#fff"></path></g></svg>			</div>
		</div>
				</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-63e9d2a" data-id="63e9d2a" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-8c3c741 elementor-widget elementor-widget-text-editor" data-id="8c3c741" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>【プログラム】宿題は見てもらえますか？</p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-1674bbf elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="1674bbf" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-5549819" data-id="5549819" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-96edbba elementor-view-default elementor-widget elementor-widget-icon" data-id="96edbba" data-element_type="widget" data-widget_type="icon.default">
				<div class="elementor-widget-container">
					<div class="elementor-icon-wrapper">
			<div class="elementor-icon">
			<svg xmlns="http://www.w3.org/2000/svg" width="66" height="66" viewBox="0 0 66 66"><g id="a_icon" transform="translate(-198.5 -485)"><g id="楕円形_320" data-name="楕円形 320" transform="translate(198.5 485)" fill="#fff" stroke="#c90061" stroke-width="3"><circle cx="33" cy="33" r="33" stroke="none"></circle><circle cx="33" cy="33" r="31.5" fill="none"></circle></g><path id="パス_3421" data-name="パス 3421" d="M1.782-17.028H-1.8L-7.04.044h2.816L-2.75-4.972H2.486L3.938.044h3.1Zm.176,9.856h-4.18l.924-3.476c.374-1.32.682-2.552,1.056-4.18h.2c.374,1.606.638,2.86,1.012,4.2Z" transform="translate(231.5 526)" fill="#c90061"></path></g></svg>			</div>
		</div>
				</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-54b9ff2" data-id="54b9ff2" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-e9a9f05 elementor-widget elementor-widget-text-editor" data-id="e9a9f05" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>お子さま入室後におやつの前に自ら宿題に取り組む時間を設けております。</p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<div class="elementor-element elementor-element-ad486c2 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="ad486c2" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-top-section elementor-element elementor-element-558c4fd elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="558c4fd" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7828a0b" data-id="7828a0b" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-8188f75 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="8188f75" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-4d45ad6" data-id="4d45ad6" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-f6ed907 elementor-view-default elementor-widget elementor-widget-icon" data-id="f6ed907" data-element_type="widget" data-widget_type="icon.default">
				<div class="elementor-widget-container">
					<div class="elementor-icon-wrapper">
			<div class="elementor-icon">
			<svg xmlns="http://www.w3.org/2000/svg" width="66" height="66" viewBox="0 0 66 66"><g id="q_icon" transform="translate(-198.5 -394)"><circle id="楕円形_312" data-name="楕円形 312" cx="33" cy="33" r="33" transform="translate(198.5 394)" fill="#c90061"></circle><path id="q_icon-2" data-name="q_icon" d="M6.589,1.782a10.445,10.445,0,0,1-2.156.242c-1.3,0-1.8-.33-2.134-1.166L2.013.022c3.212-.77,5.3-3.828,5.3-8.558,0-5.632-2.926-8.8-7.3-8.8-4.356,0-7.326,3.212-7.326,8.844,0,5.3,2.64,8.448,6.6,8.734l.484,1.3c.7,1.914,1.65,2.552,4.18,2.552a15.766,15.766,0,0,0,2.332-.154ZM.011-15.026c2.508,0,4.158,2.134,4.158,6.512,0,4.334-1.65,6.556-4.158,6.556s-4.18-2.222-4.18-6.556C-4.169-12.892-2.5-15.026.011-15.026Z" transform="translate(231.5 435)" fill="#fff"></path></g></svg>			</div>
		</div>
				</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-61db45b" data-id="61db45b" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-2616ef6 elementor-widget elementor-widget-text-editor" data-id="2616ef6" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>【プログラム】どのようなカリキュラムですか？</p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-21770ec elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="21770ec" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-79f8f0f" data-id="79f8f0f" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-d6ac431 elementor-view-default elementor-widget elementor-widget-icon" data-id="d6ac431" data-element_type="widget" data-widget_type="icon.default">
				<div class="elementor-widget-container">
					<div class="elementor-icon-wrapper">
			<div class="elementor-icon">
			<svg xmlns="http://www.w3.org/2000/svg" width="66" height="66" viewBox="0 0 66 66"><g id="a_icon" transform="translate(-198.5 -485)"><g id="楕円形_320" data-name="楕円形 320" transform="translate(198.5 485)" fill="#fff" stroke="#c90061" stroke-width="3"><circle cx="33" cy="33" r="33" stroke="none"></circle><circle cx="33" cy="33" r="31.5" fill="none"></circle></g><path id="パス_3421" data-name="パス 3421" d="M1.782-17.028H-1.8L-7.04.044h2.816L-2.75-4.972H2.486L3.938.044h3.1Zm.176,9.856h-4.18l.924-3.476c.374-1.32.682-2.552,1.056-4.18h.2c.374,1.606.638,2.86,1.012,4.2Z" transform="translate(231.5 526)" fill="#c90061"></path></g></svg>			</div>
		</div>
				</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-bbddb02" data-id="bbddb02" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-4752de5 elementor-widget elementor-widget-text-editor" data-id="4752de5" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>お子さまが興味を持てる内容の年間カリキュラムに沿ってアクティビティに参加して頂きます。工作や実験など体験型のアクティビティを通して英語を身に着けていきます。いわゆる机に座って授業を受けるのではなくお子さまが主体的に参加できる多彩なプログラムをご用意しております。<br>目で見る、手で触る、自分で作る、友達と一緒に考える、競う、助け合うなど、すべて体感しながら英語が身につくプログラムになっています。</p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<div class="elementor-element elementor-element-bd148e8 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="bd148e8" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-top-section elementor-element elementor-element-843a22c elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="843a22c" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7785b48" data-id="7785b48" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-428beb6 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="428beb6" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-f9894d9" data-id="f9894d9" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-4f734fe elementor-view-default elementor-widget elementor-widget-icon" data-id="4f734fe" data-element_type="widget" data-widget_type="icon.default">
				<div class="elementor-widget-container">
					<div class="elementor-icon-wrapper">
			<div class="elementor-icon">
			<svg xmlns="http://www.w3.org/2000/svg" width="66" height="66" viewBox="0 0 66 66"><g id="q_icon" transform="translate(-198.5 -394)"><circle id="楕円形_312" data-name="楕円形 312" cx="33" cy="33" r="33" transform="translate(198.5 394)" fill="#c90061"></circle><path id="q_icon-2" data-name="q_icon" d="M6.589,1.782a10.445,10.445,0,0,1-2.156.242c-1.3,0-1.8-.33-2.134-1.166L2.013.022c3.212-.77,5.3-3.828,5.3-8.558,0-5.632-2.926-8.8-7.3-8.8-4.356,0-7.326,3.212-7.326,8.844,0,5.3,2.64,8.448,6.6,8.734l.484,1.3c.7,1.914,1.65,2.552,4.18,2.552a15.766,15.766,0,0,0,2.332-.154ZM.011-15.026c2.508,0,4.158,2.134,4.158,6.512,0,4.334-1.65,6.556-4.158,6.556s-4.18-2.222-4.18-6.556C-4.169-12.892-2.5-15.026.011-15.026Z" transform="translate(231.5 435)" fill="#fff"></path></g></svg>			</div>
		</div>
				</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-03030b6" data-id="03030b6" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-b70f8bf elementor-widget elementor-widget-text-editor" data-id="b70f8bf" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>【プログラム】長期休暇の利用について詳しくお伝え下さい。</p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-18b33d5 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="18b33d5" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-6b29d58" data-id="6b29d58" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-de8cf95 elementor-view-default elementor-widget elementor-widget-icon" data-id="de8cf95" data-element_type="widget" data-widget_type="icon.default">
				<div class="elementor-widget-container">
					<div class="elementor-icon-wrapper">
			<div class="elementor-icon">
			<svg xmlns="http://www.w3.org/2000/svg" width="66" height="66" viewBox="0 0 66 66"><g id="a_icon" transform="translate(-198.5 -485)"><g id="楕円形_320" data-name="楕円形 320" transform="translate(198.5 485)" fill="#fff" stroke="#c90061" stroke-width="3"><circle cx="33" cy="33" r="33" stroke="none"></circle><circle cx="33" cy="33" r="31.5" fill="none"></circle></g><path id="パス_3421" data-name="パス 3421" d="M1.782-17.028H-1.8L-7.04.044h2.816L-2.75-4.972H2.486L3.938.044h3.1Zm.176,9.856h-4.18l.924-3.476c.374-1.32.682-2.552,1.056-4.18h.2c.374,1.606.638,2.86,1.012,4.2Z" transform="translate(231.5 526)" fill="#c90061"></path></g></svg>			</div>
		</div>
				</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-a95db83" data-id="a95db83" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-ab3183b elementor-widget elementor-widget-text-editor" data-id="ab3183b" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>長期休暇期間中は特別カリキュラムとして、午前9時半から外部生も参加可能なイベントコースをご用意しています。通常よりも開始時間が早くなるため、前延長として8時からのお預かりもお受けしております。 ※ 朝のお迎えは行っておりませんので、イベントコースのみのご参加の場合は、ご家族様の送迎またはお子さまのみでの入退室となります。  午後はレギュラーレッスンとなり、お迎えも通常通りの送迎スケジュールで行います。スケジュールの詳細はスクールまでお問い合わせください。</p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<div class="elementor-element elementor-element-60245ac elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="60245ac" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-top-section elementor-element elementor-element-f28f3b6 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="f28f3b6" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6ed0e2d" data-id="6ed0e2d" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-e5295af elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="e5295af" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-fc53a8e" data-id="fc53a8e" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-1f29b40 elementor-view-default elementor-widget elementor-widget-icon" data-id="1f29b40" data-element_type="widget" data-widget_type="icon.default">
				<div class="elementor-widget-container">
					<div class="elementor-icon-wrapper">
			<div class="elementor-icon">
			<svg xmlns="http://www.w3.org/2000/svg" width="66" height="66" viewBox="0 0 66 66"><g id="q_icon" transform="translate(-198.5 -394)"><circle id="楕円形_312" data-name="楕円形 312" cx="33" cy="33" r="33" transform="translate(198.5 394)" fill="#c90061"></circle><path id="q_icon-2" data-name="q_icon" d="M6.589,1.782a10.445,10.445,0,0,1-2.156.242c-1.3,0-1.8-.33-2.134-1.166L2.013.022c3.212-.77,5.3-3.828,5.3-8.558,0-5.632-2.926-8.8-7.3-8.8-4.356,0-7.326,3.212-7.326,8.844,0,5.3,2.64,8.448,6.6,8.734l.484,1.3c.7,1.914,1.65,2.552,4.18,2.552a15.766,15.766,0,0,0,2.332-.154ZM.011-15.026c2.508,0,4.158,2.134,4.158,6.512,0,4.334-1.65,6.556-4.158,6.556s-4.18-2.222-4.18-6.556C-4.169-12.892-2.5-15.026.011-15.026Z" transform="translate(231.5 435)" fill="#fff"></path></g></svg>			</div>
		</div>
				</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-e122120" data-id="e122120" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-15b263d elementor-widget elementor-widget-text-editor" data-id="15b263d" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>【通い方】週何回から通えますか？</p><p>&nbsp;</p><p>&nbsp;</p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="has_eae_slider elementor-section elementor-inner-section elementor-element elementor-element-0c5665f elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="0c5665f" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-9613a71" data-id="9613a71" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-e8ab42e elementor-view-default elementor-widget elementor-widget-icon" data-id="e8ab42e" data-element_type="widget" data-widget_type="icon.default">
				<div class="elementor-widget-container">
					<div class="elementor-icon-wrapper">
			<div class="elementor-icon">
			<svg xmlns="http://www.w3.org/2000/svg" width="66" height="66" viewBox="0 0 66 66"><g id="a_icon" transform="translate(-198.5 -485)"><g id="楕円形_320" data-name="楕円形 320" transform="translate(198.5 485)" fill="#fff" stroke="#c90061" stroke-width="3"><circle cx="33" cy="33" r="33" stroke="none"></circle><circle cx="33" cy="33" r="31.5" fill="none"></circle></g><path id="パス_3421" data-name="パス 3421" d="M1.782-17.028H-1.8L-7.04.044h2.816L-2.75-4.972H2.486L3.938.044h3.1Zm.176,9.856h-4.18l.924-3.476c.374-1.32.682-2.552,1.056-4.18h.2c.374,1.606.638,2.86,1.012,4.2Z" transform="translate(231.5 526)" fill="#c90061"></path></g></svg>			</div>
		</div>
				</div>
				</div>
					</div>
		</div>
				<div class="has_eae_slider elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-f20af51" data-id="f20af51" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-5b74e28 elementor-widget elementor-widget-text-editor" data-id="5b74e28" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
							<p>午前中の未就学児コースは週5回（定員8名）でのご通学となります。<br>幼稚園にお通いのお子さまは午後からの2時間のコースがございます。こちらは週2回～週5回のコースをお選びできます。<br>小学生に関しましては週1回～週5回までとなります。4年生以上に関しましては3.5時間コースがございます。<br>詳しくはスクールまでお問い合わせください。<br>ご送迎を希望する方は、送迎対象小学校に通学・入学予定の方となります<br>※幼児コースの送迎サービスは行っておりません。<br><br></p><p>&nbsp;</p>						</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<div class="elementor-element elementor-element-b5bae43 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="b5bae43" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
							</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
						</div>
					</main><!-- #main -->
			

</Layout>
